@charset "utf-8";
/* CSS */
/* 반응형 분기점: pc: 1201 이상 | tablet: 769 ~ 1200 | mobile: 768 이하 */

/**** font ****/
@font-face {  
  font-style: normal;
  font-weight: 400;
  font-family: 'cjBody';
  src: local('※'),
    url(../font/cjBodyRegular.woff) format('woff'); 
}
@font-face { 
  font-style: normal;
  font-weight: 700;
  font-family: 'cjTitle';
  src: local('※'),
    url(../font/cjTitle.woff) format('woff'); 
}

/**** reset ****/
body {margin: 0;}
h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, p, table {margin: 0; padding: 0;}
h1, h2, h3, h4, h5, h6 {font-weight: 700;}
main {display: block;}
a {color: inherit; text-decoration: inherit;}
a img {border: none;}
img {vertical-align: middle;}
ol, ul, li {list-style: none;}
address, em, i, cite {font-style: normal;}
table {border-collapse: separate; border-spacing: 0; table-layout: fixed;}
table caption {overflow: hidden; width: 1px; height: 1px; margin: -1px; font-size: 1px; text-indent: -9999px;}
button {padding: 0; border: 0; background-color: transparent; font-family: inherit; cursor: pointer;}
@media screen and (max-width: 768px) { /* mobile */
  html {-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; text-size-adjust: 100%;}
  img {max-width: 100%;}
}

/**** common ****/
/* 기본 구조 */
body {background-color: #fff; font-size: 16px; line-height: 1.6; font-family: 'cjBody', '맑은 고딕', 'malgun gothic', 'Apple SD Gothic Neo', sans-serif; color: #666; word-break: keep-all;}
#wrap {overflow: hidden; position: relative; max-width: 1920px; min-width: 320px; margin: 0 auto;}
#skipNav a {position: fixed; top: -50px; left: 0; z-index: 10000; width: 100%; border-bottom: 1px solid #fff; background-color: #003960; font-size: 16px; line-height: 40px; color: #fff; text-align: center; transition: top .3s;}
#skipNav a:focus {top: 0;}
.inner {margin: 0 auto;}

/* 레이아웃 */
.pf {position: fixed;}
.pr {position: relative;}
.pa {position: absolute;}
.fl {float: left;}
.fr {float: right;}
.clear {clear: both;}
.oh {overflow: hidden;}
.db {display: block;}
.dib {display: inline-block;}

/* 대체 택스트 */
.txt_blind, .blind {overflow: hidden; position: absolute; top: 0; left: 0; z-index: -1; width: 1px; height: 1px; font-size: 1px;}
i.fa-solid, i.fas {display: inline-block; vertical-align: middle;}
i.fa-solid span, i.fas span {overflow: hidden; position: absolute; text-indent: -9999px;}

/* 반응형 */
.mo_tablet {display: none !important;}
.mobile {display: none !important;}
@media screen and (max-width: 1200px) { /* tablet */
  .pc_only {display: none !important;}
  .mo_tablet {display: block !important;}
}
@media screen and (max-width: 768px) { /* mobile */
  .pc_tablet {display: none !important;}
  .mobile {display: block !important;}
}

/* 기타 스타일 공통 */
.bg_dimed {display: none; position: fixed; top: 0; right: 0; bottom: 0; left: 0; z-index: 25; background-color: rgba(0, 0, 0, .65);}
.bg_dimed.on {display: block;}
.scroll_disable {overflow: hidden; touch-action: none;}
.center {position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);}
.txt_center {position: absolute; top: 50%; left: 0; width: 100%; text-align: center; transform: translateY(-50%);}
/* .txt_ellipsis {display: block; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;} */
/* .txt_ellipsis_multiple {display: block; display: -webkit-box; overflow: hidden; height: 2.4em; line-height: 1.2em; text-overflow: ellipsis; word-wrap: break-word; -webkit-line-clamp: 2; 라인수 -webkit-box-orient: vertical;} */

/* 사용자 커스텀 스타일 */

/**** page common ****/
section {overflow: hidden; position: relative;}

/* 격자 배경 */
[class ^= 'bg_frame_'] {position: absolute; width: 100%; height: 100%; border: 1px solid;}
[class ^= 'bg_frame_']::after {content: ''; display: inline-block; position: absolute; width: 19px; height: 19px; border: 1px solid;}
.bg_frame_light {border-color: rgba(255, 255, 255, .2);}
.bg_frame_light::after {border-color: #fff;}
.bg_frame_dark {border-color: #e5e5e5;}
.bg_frame_dark::after {border-color: #000;}

@media screen and (max-width: 768px) { /* mobile */
  [class ^= 'bg_frame_']::after {width: 7px; height: 7px;}
}

/* button */
.btn {display: block; margin: 50px auto 0; padding: 17px 0 18px; border: 2px solid #000; font-size: 16px; line-height: 1; color: #000; box-sizing: border-box; transition: background-color .6s cubic-bezier(0.23, 1, 0.32, 1);}
.btn:hover, .btn:focus {background-color: #e5e5e5;}
.btn_more {padding: 17px 60px 18px;}
.btn_download {background: url(../img/common/btn_download.png) no-repeat left 24px center;}
.btn_view {background: url(../img/common/btn_view.png) no-repeat left 24px center;}

@media screen and (max-width: 768px) { /* mobile */
  .btn {margin-top: 20px; padding: 8px 0; font-size: 15px; transition: none;}
  .btn_more {padding: 8px 30px;}
  .btn_download {background-position: left 16px center; background-size: 13px 17px;}
  .btn_view {background-position: left 16px center; background-size: 13px 17px;}
}

/* tab */
.tab_list {overflow: hidden; width: 100%; margin-bottom: 100px;}
.tab_list li {float: left; position: relative; width: 25%; border-top: 1px solid #d9d9d9; border-bottom: 1px solid #d9d9d9; text-align: center; box-sizing: border-box;}
.tab_list li:first-child {border-left: 1px solid #d9d9d9;}
.tab_list li:last-child {border-right: 1px solid #d9d9d9;}
.tab_list li + li::before {content: ''; position: absolute; top: 50%; left: -1px; width: 1px; height: 20px; margin-top: -10px; background-color: #d9d9d9;}
.tab_list li.on {z-index: 1; border: 1px solid #003960; background-color: #333;}
.tab_list li.on a {color: #fff;}
.tab_list li a {display: block; line-height: 60px;}

@media screen and (max-width: 768px) { /* mobile */
  .tab_list {margin-bottom: 50px;}
  .tab_list li + li::before {height: 10px; margin-top: -5px;}
  .tab_list li a {font-size: 12px; line-height: 45px;}
}

/* form */
.board_search {max-width: 1000px; margin: 0 auto 20px; text-align: right;}
.board_search form {font-size: 0;}
.board_search form * {height: 44px; padding-left: 14px; border: 1px solid #d9d9d9; font-size: 16px; line-height: 40px; font-family: inherit; box-sizing: border-box; vertical-align: middle;}
.board_search form select {min-width: 150px; margin-right: 10px; background: url(../img/common/ico_selectbox_arr.png) no-repeat right center; appearance: none; -webkit-appearance: none; -moz-appearance: none;}
.board_search form select::-ms-expand {display:none;}
.board_search form input[type = 'text'] {width: 195px; border-right: none;}
.board_search form input[type = 'image'] {margin-left: -1px; padding: 10px; border-left: none;}

@media screen and (max-width: 768px) { /* mobile */
  .board_search {margin-bottom: 10px;}
  .board_search form * {height: 27px; padding-left: 7px; font-size: 14px; line-height: 25px;}
  .board_search form select {min-width: 100px; background-image: url(../img/common/ico_selectbox_arr_mo.png); background-size: 19.5px 7px;}
  .board_search form input[type = 'text'] {width: 95px;}
  .board_search form input[type = 'image'] {padding: 6px;}
}

/* table */
.tbl_board_list {width: 100%; border-top: 2px solid #000;}
.tbl_board_list th {padding: 23px 20px 24px; border-bottom: 1px solid #d9d9d9; font-weight: 400; color: #666;}
.tbl_board_list td {padding: 21px 20px 18px; border-bottom: 1px solid #f2f2f2; color: #000;}
.tbl_board_list .cell_tit a {display: block; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.tbl_board_list .cell_tit a:hover {text-decoration: underline;}
.tbl_board_list .cell_date {width: 130px; text-align: right;}

@media screen and (max-width: 768px) { /* mobile */
  .tbl_board_list th {padding: 11px 10px 9px; font-size: 12px;}
  .tbl_board_list td {padding: 10px 10px 8px; font-size: 12px;}
  .tbl_board_list .cell_date {width: 90px;}
}

/* json */
.data_no {display: block !important; width: 100% !important; padding: 180px 0; font-size: 30px; color: #000; text-align: center;}
@media screen and (max-width: 768px) { /* mobile */
  .data_no {padding: 90px 0; font-size: 18px;}
}

/**** layout ****/
/* header / gnb */
#header {position: fixed; top: 0; left: 0; z-index: 30; width: 100%; height: 100px; transition: all .6s cubic-bezier(0.23, 1, 0.32, 1);}
#header::after {content: ''; display: block; height: 100px; transition: all .6s cubic-bezier(0.23, 1, 0.32, 1);}
#header .logo {position: absolute; top: 50%; left: 30px; transform: translateY(-50%);}
#header .logo a {display: block; width: 241px; height: 100px; background: url(../img/common/img_header_logo.png) no-repeat center; transition: all .6s cubic-bezier(0.23, 1, 0.32, 1);}

#gnb {overflow: hidden; position: absolute; top: 0; left: 50%; z-index: 30; height: 100px; transform: translateX(-50%); transition: all .6s cubic-bezier(0.23, 1, 0.32, 1);}
#gnb .gnb_depth_1 {width: calc((132px * 5) + (5px * 5));}
#gnb .gnb_depth_1 > li {float: left; width: 132px; margin-right: 5px;}
#gnb ul li a {display: block; color: #fff; text-align: center;}
#gnb .gnb_depth_1 > li > a {height: 100px; font-size: 15px; line-height: 100px; transition: all .6s cubic-bezier(0.23, 1, 0.32, 1);}
#gnb .gnb_depth_2 {padding-top: 7px; opacity: 0;}
#gnb .gnb_depth_2 > li {margin-bottom: 16px;}
#gnb .gnb_depth_2 > li > a {font-size: 14px;}
#gnb .gnb_depth_2 > li.on > a, #gnb .gnb_depth_2 > li > a:hover {text-decoration: underline;}

#header .lang_list {position: absolute; top: 50%; right: 30px; transform: translateY(-50%);}
#header .lang_list li {float: left;}
#header .lang_list li + li::before {content: ''; display: inline-block; width: 1px; height: 10px; margin: 0 13px 0 15px; background-color: #fff; opacity: .4;}
#header .lang_list li a {font-size: 14px; color: #fff; opacity: .4; transition: all .6s cubic-bezier(0.23, 1, 0.32, 1);}
#header .lang_list li.on a {padding-bottom: 3px; border-bottom: 2px solid #fff; opacity: 1;}

/* header 스크롤 발생 시 */
#header.down {height: 60px;}
#header.down::after {height: 60px; border-bottom: 1px solid #d9d9d9; background-color: #fff;}
#header.down .logo a {height: 60px; background-image: url(../img/common/img_header_logo_b.png);}

#header.down #gnb {height: 60px;}
#header.down #gnb ul li a {color: #000;}
#header.down #gnb .gnb_depth_1 > li > a {height: 60px; line-height: 60px;}
#header.down #gnb .gnb_depth_2 {padding-top: 25px;}

#header.down .lang_list li + li::before {background-color: #000;}
#header.down .lang_list li a {color: #000;}
#header.down .lang_list li.on a {border-color: #000;}

/* gnb 열릴 시 */
#header.open::after {height: 458px; border-bottom: 1px solid #d9d9d9; background-color: #fff;}
#header.open .logo a {background-image: url(../img/common/img_header_logo_b.png);}

#header.open #gnb {height: 458px;}
#header.open #gnb ul li a {color: #000;}
#header.open #gnb .gnb_depth_1 > li.on > a::after {content: ''; display: block; width: 90px; height: 2px; margin: -32px auto; background-color: #000;}
#header.open #gnb .gnb_depth_2 {opacity: 1;}

#header.open .lang_list li + li::before {background-color: #000;}
#header.open .lang_list li a {color: #000;}
#header.open .lang_list li.on a {border-color: #000;}

/* header 스크롤 발생 시 && gnb 열릴 시 */
#header.down.open::after {height: 418px;}
#header.down.open #gnb {height: 418px;}
#header.down.open #gnb .gnb_depth_1 > li.on > a::after {margin-top: -12px;}

/* .bg_dimed { transition: background-color .6s cubic-bezier(0.23, 1, 0.32, 1);} */

@media screen and (max-width: 1200px) { /* tablet */
  #header {transition: none;}
  #header::after {display: none;}
  #header .logo a {transition: none;}
  #header .btn_gnb_toggle {position: absolute; top: 50%; right: 30px; z-index: 30; width: 32px; height: 26px; transform: translateY(-50%);}
  #header .btn_gnb_toggle .ico_ham {display: block; width: 100%; height: 2px; margin: 11px auto; background-color: #fff;}
  #header .btn_gnb_toggle .ico_ham::before, #header .btn_gnb_toggle .ico_ham::after {content: ''; position: absolute; left: 0; width: 100%; height: 2px; background-color: #fff;}
  #header .btn_gnb_toggle .ico_ham::before {top: 0;}
  #header .btn_gnb_toggle .ico_ham::after {bottom: 0;}
  #header .btn_gnb_toggle.on .ico_ham {background-color: transparent !important;}
  #header .btn_gnb_toggle.on .ico_ham::before {top: auto; background-color: #000; transform: rotate(45deg);}
  #header .btn_gnb_toggle.on .ico_ham::after {bottom: auto; background-color: #000; transform: rotate(-45deg);}

  #gnb {display: none; overflow: auto; position: fixed; top: 100px; left: 0; width: 100%; height: calc(100vh - 185px) !important; padding-bottom: 75px; background-color: #fff; box-sizing: border-box; transform: translateY(0); transition: none;}
  #gnb .gnb_depth_1 {width: auto; padding-left: 50px;}
  #gnb .gnb_depth_1 > li {float: none; width: auto; margin: 0; border-bottom: 1px solid #d9d9d9;}
  #gnb ul li a {color: #000; text-align: left;}
  #gnb .gnb_depth_1 > li > a {height: 70px; background: url(../img/common/btn_gnb_dep2_open.png) no-repeat right center; font-size: 20px; line-height: 70px; transition: none;}
  #gnb .gnb_depth_1 > li.on > a {background-image: url(../img/common/btn_gnb_dep2_close.png);}
  #gnb .gnb_depth_1 > li.on > .gnb_depth_2 {display: block;}
  #gnb .gnb_depth_2 {display: none; padding: 18px 0 18px 20px; border-top: 1px solid #f2f2f2; opacity: 1;}
  #gnb .gnb_depth_2 > li {margin: 0;}
  #gnb .gnb_depth_2 > li > a {font-size: 16px; line-height: 39px;}
  #gnb .gnb_depth_2 > li.on > a {color: #067acc !important; text-decoration: none;}
  #gnb .gnb_depth_2 > li > a:hover {text-decoration: none;}

  #header .lang_list {display: none; position: fixed; top: auto; right: auto; bottom: 0; left: 0; width: 100%; padding: 35px 0 25px 50px; background-color: #fff; transform: translateY(0);}
  #header .lang_list li + li::before {background-color: #000;}
  #header .lang_list li a {color: #000; transition: none;}
  #header .lang_list li.on a {border-color: #000;}

  /* header 스크롤 발생 시 */
  #header.down {height: 100px; border-bottom: 1px solid #d9d9d9; background-color: #fff;}
  #header.down .logo a {height: 100px;}
  #header.down .btn_gnb_toggle .ico_ham, #header.down .btn_gnb_toggle .ico_ham::before, #header.down .btn_gnb_toggle .ico_ham::after {background-color: #000;}
  
  #header.down #gnb .gnb_depth_1 > li > a {height: 70px; line-height: 70px;}
  #header.down #gnb .gnb_depth_2 {padding-top: 18px;}

  /* header/gnb 열릴 시 */
  #header.open {background-color: #fff;}
  #header.open #gnb .gnb_depth_1 > li.on > a::after {display: none;}
  #gnb.open {display: block;}
  #header.open .lang_list {display: block;}
}

@media screen and (max-width: 768px) { /* mobile */
  #header {height: 50px;}
  #header .logo {left: 15px;}
  #header .logo a {width: 156px; height: 50px; background-image: url(../img/common/img_header_logo_mo.png); background-size: contain;}
  #header .btn_gnb_toggle {right: 15px; width: 16px; height: 13px;}
  #header .btn_gnb_toggle .ico_ham {height: 1px; margin: 5px auto;}
  #header .btn_gnb_toggle .ico_ham::before, #header .btn_gnb_toggle .ico_ham::after {height: 1px;}

  #gnb {top: 50px; height: calc(100vh - 130px) !important;}
  #gnb .gnb_depth_1 {padding-left: 25px;}
  #gnb .gnb_depth_1 > li > a {height: 45px; background-image: url(../img/common/btn_gnb_dep2_open_mo.png); background-size: 37px 6px; font-size: 16px; line-height: 45px;}
  #gnb .gnb_depth_1 > li.on > a {background-image: url(../img/common/btn_gnb_dep2_close_mo.png);}
  #gnb .gnb_depth_2 {padding: 9px 0 9px 10px;}
  #gnb .gnb_depth_2 > li > a {font-size: 14px; line-height: 35px;}
  
  #header .lang_list {padding: 16px 0 40px 25px;}

  /* header 스크롤 발생 시 */
  #header.down {height: 50px;}
  #header.down .logo a {height: 50px;}

  #header.down #gnb .gnb_depth_1 > li > a {height: 45px; line-height: 45px;}
  #header.down #gnb .gnb_depth_2 {padding-top: 9px;}
}

@media screen and (max-width: 1200px) and (orientation: portrait) { /* tablet && 뷰포트 방향: 세로 */
  #gnb {position: static; height: auto !important; margin-top: 50px;}
  #header .lang_list {overflow: hidden; position: static;}
}

/* footer */
#footer {position: relative; z-index: 25; min-height: 190px; background-color: #212121;}
#footer .footer_top .inner {position: relative; max-width: 1000px; margin: 0 auto;}
#footer .footer_top .inner .family {position: absolute; top: 0; right: 0;}
#footer .footer_top .inner .family .btn_family_toggle {width: 170px; height: 68px; padding: 24px; background: url(../img/common/btn_famliy.png) no-repeat right 24px center; font-size: 15px; color: #fff; text-align: left;}
#footer .footer_top .inner .family .btn_family_toggle.on {background-color: #141414; background-image: url(../img/common/btn_famliy_on.png);}
#footer .footer_top .inner .family .btn_family_toggle.on + ul {display: block;}
#footer .footer_top .inner .family ul {display: none; position: absolute; right: 0; bottom: 100%; left: 0; padding: 20px 0 10px; background-color: #141414;}
#footer .footer_top .inner .family ul li + li {margin-top: 5px;}
#footer .footer_top .inner .family ul li a {display: block; padding: 0 24px; font-size: 15px; line-height: 35px; color: #fff;}
#footer .footer_top .inner .family ul li a:hover {text-decoration: underline;}
#footer .footer_top .inner .info_list {height: 68px; padding: 24px 0; font-size: 0; box-sizing: border-box;}
#footer .footer_top .inner .info_list li {display: inline-block; margin-right: 40px;}
#footer .footer_top .inner .info_list li a {font-size: 14px; color: #808080;}
#footer .footer_bottom {border-top: 1px solid #333;}
#footer .footer_bottom .inner {max-width: 1000px; margin: 0 auto; padding-top: 27px; font-size: 14px; color: #808080;}
#footer .footer_bottom .inner .ci {float: left; margin: 0 43px 20px 0;}
#footer .footer_bottom .inner address {overflow: hidden;}
#footer .footer_bottom .inner address > * {margin-right: 14px;}
#footer .footer_bottom .inner address span {display: inline-block;}
#footer .footer_bottom .inner .copyright {margin-top: 4px;}

@media screen and (max-width: 1200px) { /* tablet */
  #footer .footer_top .inner {padding: 0 30px;}
  #footer .footer_top .inner .family {right: 30px;}
  #footer .footer_bottom .inner {padding: 27px 30px 0;}
}

@media screen and (max-width: 1024px) { /* tablet */
  #footer .footer_bottom .inner .ci {display: none;}
}

@media screen and (max-width: 768px) {/* mobile */
  #footer .footer_top .inner  {padding: 0;}
  #footer .footer_top .inner .family {position: static;}
  #footer .footer_top .inner .family .btn_family_toggle {width: 100%; height: 45px; padding: 0 15px; background-image: url(../img/common/btn_famliy_mo.png); background-position: right 15px center; background-size: 12px 12px; font-size: 14px; line-height: 45px;}
  #footer .footer_top .inner .family .btn_family_toggle.on {background-image: url(../img/common/btn_family_on_mo.png);}
  #footer .footer_top .inner .family ul {padding-top: 15px;}
  #footer .footer_top .inner .family ul li a {padding: 0 15px; text-align: center;}
  #footer .footer_top .inner .info_list {height: auto; padding: 14px 15px 12px; border-top: 1px solid #333;}
  #footer .footer_top .inner .info_list li {margin-right: 20px;}
  #footer .footer_top .inner .info_list li a {font-size: 12px;}
  #footer .footer_bottom .inner {padding: 16px 15px; font-size: 12px;}
  #footer .footer_bottom .inner .copyright {margin-top: 10px;}
}

/**** main ****/
/* mainVisual */
#mainVisual {overflow: hidden; position: relative; height: 100vh; background: #000 url(../img/main/bg_visual.jpg) no-repeat center top; background-size: cover;}
#mainVisual video {width: 100%;}
#mainVisual .slogan { padding: 70px 0;color: #fff; box-sizing: border-box;}
#mainVisual .slogan .bg_frame_light {left: 50%; z-index: -1; width: 510px; height: 60px; transform: translateX(-50%);}
#mainVisual .slogan .bg_frame_light:nth-of-type(1) {top: 0; border-bottom: none;}
#mainVisual .slogan .bg_frame_light:nth-of-type(2) {bottom: 0; border-top: none;}
#mainVisual .slogan .bg_frame_light:nth-of-type(1)::after {top: -1px; left: -1px; border-right: none; border-bottom: none;}
#mainVisual .slogan .bg_frame_light:nth-of-type(2)::after {right: -1px; bottom: -1px; border-top: none; border-left: none;}
#mainVisual .slogan strong {display: block; margin-bottom: 10px; font-size: 54px; font-family: 'cjTitle';}
#mainVisual .ico_scroll {position: absolute; bottom: 30px; left: 50%; transform: translateX(-50%);}

@media screen and (max-width: 1200px) { /* tablet */
  #mainVisual .slogan {padding: 70px 30px;}
}

@media screen and (max-width: 1024px) { /* tablet */
  #mainVisual .slogan strong {font-size: 46px;}
}

@media screen and (max-width: 768px) { /* mobile */
  #mainVisual .slogan {padding: 30px 15px;}
  #mainVisual .slogan .bg_frame_light {width: 255px; height: 30px;}
  #mainVisual .slogan strong {margin-bottom: 5px; font-size: 18px;}
  #mainVisual .slogan strong + p {font-size: 14px;}
  #mainVisual .ico_scroll {bottom: 15px; width: 36px;}
}

/* main common */
.main_content h2 {position: relative; max-width: 1000px; margin: 0 auto; padding-left: 80px; font-size: 64px; font-family: 'cjTitle'; color: #000; box-sizing: border-box;}
.main_content h2:not(.txt_blind)::before {content: ''; display: inline-block; position: absolute; top: 50%; left: 0; width: 60px; height: 4px; background-color: #000; transform: translateY(-50%);}
.main_content .btn_more {width: 205px; padding: 17px 0 18px 36px; background: url(../img/main/btn_more.png) no-repeat right 24px center;}

@media screen and (max-width: 1200px) { /* tablet */
  .main_content h2 {width: calc(100% - 60px);}
}

@media screen and (max-width: 768px) { /* mobile */
  .main_content h2 {width: calc(100% - 30px); padding-left: 40px; font-size: 32px;}
  .main_content h2:not(.txt_blind)::before {width: 30px; height: 2px;}
  .main_content .btn_more {width: 162px; padding: 8px 0 8px 16px; background-image: url(../img/main/btn_more_mo.png); background-position: right 16px center; background-size: 19.5px 10.5px;}
}

/* main onAir */
#onAir {margin-top: 150px;}
#onAir .bg_frame_dark {top: 90px; bottom: 50px; left: 27%; z-index: -1; height: auto;}
#onAir .bg_frame_dark::after {bottom: -1px; left: -1px; border-top: none; border-right: none;}
#onAir ul {overflow: hidden; margin: 18px auto 0;}
#onAir ul li {float: left; width: 410px; margin: 0 17px;}
#onAir ul li a {display: block;}
#onAir ul li a img {width: 100%;}
#onAir ul li .txt_box {padding: 25px 30px 30px;}
#onAir ul li .txt_box .tit {display: block; overflow: hidden; font-weight: 400; font-size: 30px; color: #000; text-overflow: ellipsis; white-space: nowrap;}
#onAir ul li .txt_box .desc {display: block; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}

/* #onAir ul에 slick 추가 */
#onAir .control {margin-top: 30px; font-size: 0; text-align: center;}
#onAir .control .slick-arrow {width: 24px; height: 20px; background: url(../img/main/btn_onair_slider.png) no-repeat; font-size: 1px; text-indent: -9999px;}
#onAir .control .slick-prev {margin-right: 30px; background-position: left center;}
#onAir .control .slick-next {position: relative; margin-left: 31px; background-position: right center;}
#onAir .control .slick-next::before {content: ''; display: inline-block; position: absolute; top: 50%; left: -31px; width: 1px; height: 20px; margin-top: -10px; background-color: #f2f2f2;}

@media screen and (max-width: 1024px) { /* tablet */
  #onAir ul li {width: 340px;}
}

@media screen and (max-width: 768px) { /* mobile */
  #onAir {margin-top: 60px;}
  #onAir .bg_frame_dark {top: 45px; bottom: 40px; left: 15%;}
  #onAir ul {margin-top: 10px;}
  #onAir ul li {width: 177px; margin: 0 9px;}
  #onAir ul li .txt_box {padding: 10px 15px 0;}
  #onAir ul li .txt_box .tit {font-size: 16px;}
  #onAir ul li .txt_box .desc {font-size: 12px;}

  /* #onAir ul에 slick 추가 */
  #onAir .control {margin-top: 20px;}
  #onAir .control .slick-arrow {width: 25px; background-image: url(../img/main/btn_onair_slider_mo.png); background-size: 50px 11px;}
  #onAir .control .slick-prev {margin-right: 20px;}
  #onAir .control .slick-next {margin-left: 21px;}
  #onAir .control .slick-next::before {left: -21px;}
}

/* main works */
#works {margin-top: 140px;}
#works .bg_frame_dark {top: 90px; right: 27%; height: 62%;}
#works .bg_frame_dark::after {top: -1px; right: -1px; border-bottom: none; border-left: none;}
#works .inner {max-width: 1000px; margin: 25px auto 0;}
#works .inner::after {content: ''; display: block; clear: both;}
#works .inner ul {width: 50%;}
#works .inner .left_area {float: left;}
#works .inner .right_area {float: right; margin-top: 30px;}
#works .inner .left_area li {float: right;}
#works .inner .right_area li {float: left;}
#works .inner ul li {position: relative;}
#works .inner ul li a {display: block; position: relative;}
#works .inner ul li a::before {content: ''; position: absolute; top: 0; right: 0; bottom: 0; left: 0; background-color: rgba(0, 0, 0, .75); opacity: 0; transition: opacity .6s cubic-bezier(0.23, 1, 0.32, 1);} 
#works .inner ul li a:hover::before, #works .inner ul li a:hover .detail, #works .inner ul li a:focus::before, #works .inner ul li a:focus .detail {opacity: 1;}
#works .inner ul li a .detail {padding-top: 65px; background: url(../img/main/ico_works_detail.png) no-repeat center top; font-weight: 400; font-size: 30px; color: #fff; opacity: 0; transition: opacity .6s cubic-bezier(0.23, 1, 0.32, 1);}
#works .inner ul li .tit {display: inline-block; position: absolute; color: #000;}
#works .inner .left_area li .tit {top: 0; left: -10px; transform: rotate(90deg); transform-origin: 0 0;}
#works .inner .right_area li:nth-child(1) .tit {bottom: 102%; width: 100%; text-align: right;}
#works .inner .right_area li:nth-child(2) .tit {right: -10px; bottom: 0; width: 100%; transform: rotate(90deg); transform-origin: 100% 100%;}
#works .inner .right_area li:nth-child(3) .tit {right: -10px; bottom: 0; transform: rotate(90deg); transform-origin: 100% 100%;}

@media screen and (max-width: 1200px) { /* tablet */
  #works .inner {padding: 0 30px;}
  #works .inner ul li a::before, #works .inner ul li a .detail {display: none;}
}

@media screen and (max-width: 768px) { /* mobile */
  #works {margin-top: 50px;}
  #works .bg_frame_dark {top: 45px; right: 15%; height: 55%;}
  #works .inner {margin-top: 10px;}
  #works .inner .right_area {margin-top: 15px;}
  #works .inner ul li .tit {font-size: 12px;}
  #works .inner .left_area li .tit {left: -3px;}
  #works .inner .right_area li:nth-child(1) .tit {bottom: 100%;}
  #works .inner .right_area li:nth-child(2) .tit, #works .inner .right_area li:nth-child(3) .tit {right: 0;}
}

/* main issue */
#issue {position: relative; margin-top: 150px; background: url(../img/main/bg_issue.jpg) no-repeat center center; background-attachment: fixed;}
#issue .bg_frame_light {top: 60px; left: 24%;}
#issue .bg_frame_light::after {top: -1px; left: -1px; border-right: none; border-bottom: none;}
#issue a {display: block; height: 410px; color: #fff; text-align: center;}
#issue a .txt_area strong {display: block; margin-bottom: 5px; font-weight: 400; font-size: 34px;}
#issue a .txt_area strong + p {font-size: 20px;}

@media screen and (max-width: 1200px) { /* tablet */
  #issue {background-size: cover; background-attachment: scroll;}
  #issue a .txt_area > * {padding: 0 30px;}
}

@media screen and (max-width: 768px) { /* mobile */
  #issue {margin-top: 60px;}
  #issue .bg_frame_light {display: none;}
  #issue a {height: 205px;}
  #issue a .txt_area > * {padding: 0 15px;}
  #issue a .txt_area strong {font-size: 19px;}
  #issue a .txt_area strong + p {font-size: 14px;}
}

/* main news */
#news {margin-top: 130px; padding-bottom: 150px;}
#news .inner {max-width: 1000px; margin-top: 25px;}

@media screen and (max-width: 1200px) { /* tablet */
  #news .inner {margin-top: 10px; padding: 0 30px;}
}

@media screen and (max-width: 768px) { /* mobile */
  #news {margin-top: 60px; padding-bottom: 60px;}
  #news .inner {padding: 0 15px;}
}

/* mainSideNav */
#mainPageNav {position: fixed; top: 0; bottom: 0; left: 0; z-index: 25; width: 70px; background-color: #fff; box-sizing: border-box; transition: all .6s cubic-bezier(0.23, 1, 0.32, 1);}
#mainPageNav .indicator {overflow: hidden; width: 100%; height: 100%; font-size: 0; text-align: center; writing-mode: vertical-rl; -ms-writing-mode: tb-rl;}
#mainPageNav .indicator li {display: inline-block; position: relative; width: 70px; margin: 15px 0;}
#mainPageNav .indicator li a {font-size: 14px; line-height: 70px;}
#mainPageNav .indicator li a::before {content: ''; display: none; position: absolute; top: 50%; left: 0; border: 6px solid transparent; border-left: 6px solid #000; transform: translateY(-50%);}
#mainPageNav .indicator li.on a::before {display: block;}
#mainPageNav .indicator li.on a, #mainPageNav .indicator li a:hover, #mainPageNav .indicator li a:focus {font-weight: 700; color: #000;}
#mainPageNav.top {top: 100px;}
#mainPageNav.bottom {bottom: 190px;}
/* #header.down ~ #container #mainPageNav {top: 0;} */
/* #header.down ~ #container #mainPageNav.bottom {bottom: 190px;} */

@media screen and (max-width: 1200px) { /* tablet */
  #mainPageNav {transition: none;}
}
@media screen and (max-width: 1024px) { /* tablet */
  #mainPageNav {display: none;}
}

/**** sub ****/
/* sub common */
.sub_visual {height: 330px; padding-top: 100px; background: no-repeat top center; background-attachment: fixed;}
.about .sub_visual {background-image: url(../img/sub/bg_visual_about.jpg);}
.works .sub_visual {background-image: url(../img/sub/bg_visual_works.jpg);}
.pr .sub_visual {background-image: url(../img/sub/bg_visual_newsroom.jpg);}
.sub_visual .bg_frame_light {left: 15%;}
.sub_visual .bg_frame_light::after {top: -1px; left: -1px; border-right: none; border-bottom: none;}

.sub_visual .visual_tit {padding-top: 100px; font-size: 64px; font-family: 'cjTitle'; color: #fff;}

.breadcrumb {overflow: hidden; position: absolute; top: 100px; left: 0; z-index: 1; width: 70px; height: 330px; padding-top: 30px; background-color: #fff; writing-mode: vertical-rl; -ms-writing-mode: tb-rl; box-sizing: border-box;}
.breadcrumb ul {font-size: 0;}
.breadcrumb li {display: inline-block; font-size: 13px; line-height: 70px; color: #a3a3a3; vertical-align: middle;}
.breadcrumb li + li {margin-top: 12px; padding-top: 16px; background: url(../img/sub/ico_breadcrumb_arr.png) no-repeat top center;}
.breadcrumb li:first-child a {display: inline-block; width: 16px; height: 14px; background: url(../img/sub/ico_breadcrumb_home.png) no-repeat center center;}
.breadcrumb li:last-child {color: #000;}

.content {position: relative; max-width: 1000px; margin: 0 auto; padding: 80px 30px 150px;}
.content.full {max-width: 100%; padding: 80px 0 150px;} 
.content .cont_sub_tit {max-width: 1000px; margin: 0 auto; padding: 0 30px 97px; text-align: center;}
.content .cont_sub_tit p:first-child {font-size: 30px; color: #000;}
.content .cont_sub_tit p + p {margin-top: 30px;}

@media screen and (max-width: 1024px) { /* pc */
  .breadcrumb {top: auto; width: 100%; height: auto; margin-top: -20px; padding: 0; background-color: transparent; text-align: center; writing-mode: horizontal-tb; -ms-writing-mode: lr-tb; transform: translateY(-100%);}
  .breadcrumb li {line-height: inherit;}
  .breadcrumb li + li {margin: 0 0 0 12px; padding: 0 0 0 16px; background: url(../img/sub/ico_breadcrumb_arr_w.png) no-repeat left center;}
  .breadcrumb li:first-child a {margin-top: 4px; background-image: url(../img/sub/ico_breadcrumb_home_w.png);}
  .breadcrumb li:last-child {color: #fff;}
}

@media screen and (max-width: 768px) { /* mobile */
  .sub_visual {height: 165px; padding-top: 50px; background-size: cover; background-attachment: scroll;}
  .sub .sub_visual .bg_frame_light {left: 4%;}
  .sub .sub_visual .bg_frame_light::after {width: 10px; height: 10px;}
  .sub_visual .visual_tit {padding-top: 50px; font-size: 32px;}

  .breadcrumb li {font-size: 10px;}
  .breadcrumb li:first-child a {margin-top: 3px;}

  .content {padding: 40px 15px 60px;}
  .content.full {padding: 40px 0 60px;}
  .content .cont_sub_tit {padding: 0 15px 40px;}
  .content .cont_sub_tit p:first-child {font-size: 16px;}
  .content .cont_sub_tit p + p {margin-top: 20px; font-size: 14px;}
}

/* sub about history */
.history .section {padding: 0 50px 0 217px;}
.history .section .year {position: relative; border-left: 1px solid #d9d9d9;}
.history .section .year h3 {position: absolute; top: 0; right: 100%; padding-right: 50px; background-color: #fff; font-weight: 400; font-size: 50px; line-height: 70px; color: #000;}
.history .section .year h3::after {content: ''; position: absolute; top: 50%; right: -4px; width: 8px; height: 8px; margin-top: -4px; border-radius: 50%; background-color: #000;}
.history .section .year .month_list {padding: 23px 0 70px 45px;}
.history .section .year .month_list > li {position: relative; padding-left: 60px;}
.history .section .year .month_list > li + li {margin-top: 30px;}
.history .section .year .month_list > li > em {position: absolute; top: 0; left: 0; color: #000;}
.history .section .year .month_list > li > em ~ * + * { margin-top: 10px;}
.history .section .year .month_list > li > .poster img {padding-top: 5px;}
.history .section .year .month_list > li > .poster p {margin-top: 5px;}
.history .section .year .month_list > li p strong {display: block; font-weight: 400; font-size: 24px; color: #000;}

@media screen and (max-width: 768px) { /* mobile */
  .history .section {padding: 0 15px;}
  .history .section .year h3 {position: relative; top: auto; right: auto; left: -1px; margin-bottom: 15px; padding-left: 30px; font-size: 30px; line-height: 34px;}
  .history .section .year h3::after {right: auto; left: -4px;}
  .history .section .year .month_list {padding: 0 0 50px 30px;}
  .history .section .year .month_list > li {padding: 0;}
  .history .section .year .month_list > li > em {display: block; position: static; margin-bottom: 10px;}
  .history .section .year .month_list > li > em ~ * {font-size: 14px;}
  .history .section .year .month_list > li p strong {font-size: 16px;}
}

/* sub about ethical */
.ethical {}
.ethical h3 {padding-bottom: 8px; border-bottom: 1px solid #000; font-weight: 400; font-size: 30px; color: #000;}
.ethical h3 + p {padding-top: 30px;}
.ethical h4 {font-weight: 400; font-size: 24px; color: #000;}
.ethical h5 {font-weight: 400; font-size: 18px; color: #000;}


.ethical .ethical_standard > div:not(.unit_3) {max-width: 1000px; margin: 0 auto; padding: 0 30px;}
.ethical .ethical_standard .unit_2 h4 {margin-top: 40px; padding-bottom: 21px;}
.ethical .ethical_standard .unit_2 h4 + p {margin-bottom: 48px; padding-bottom: 35px; border-bottom: 1px solid #d9d9d9;}
.ethical .ethical_standard .unit_3 h4 {max-width: 1000px; margin: 0 auto 48px; padding: 0 30px;}
.ethical .ethical_standard .unit_3 .promise {position: relative; min-height: 258px; background-color: red;}
.ethical .ethical_standard .unit_3 .promise + .promise {margin-top: 75px;}
.ethical .ethical_standard .unit_3 .promise .bg_frame_dark {z-index: -1; height: 260px;}
.ethical .ethical_standard .unit_3 .promise .inner {background-color: skyblue; position: relative; max-width: 1060px; margin: 0 auto; padding-top: 60px; box-sizing: border-box;}
.ethical .ethical_standard .unit_3 .promise:nth-child(even) .inner {padding-left: 506px;}
.ethical .ethical_standard .unit_3 .promise:nth-child(odd) .inner {padding-right: 506px;}
.ethical .ethical_standard .unit_3 .promise .inner img {width: 466px; position: absolute; top: -16px; left: 0;}
.ethical .ethical_standard .unit_3 .promise:nth-child(odd) .inner img {left: auto; right: 0;}
.ethical .ethical_standard .unit_3 .promise .inner h5 {margin-bottom: 16px;}
.ethical .ethical_standard .unit_3 .promise .inner li::before {content: ''; display: inline-block; width: 3px; margin: -1.5px 12px 0 0; vertical-align: middle; border-radius: 50%; height: 3px; background-color: #000;}

.ethical .ethical_standard .unit_4 h4 {margin-top: 45px;}
.ethical .ethical_standard .unit_4 .btn_area {padding: 20px 0; font-size: 0; text-align: center;}
.ethical .ethical_standard .unit_4 .btn {display: inline-block; width: 235px; margin: 20px 0 0 56px; text-align: center;}
.ethical .ethical_standard .unit_4 .btn:nth-child(3n + 1) {margin-left: 0;} 
.ethical .ethical_policy {max-width: 1000px; margin: 65px auto 0; padding: 0 30px;}
.ethical .ethical_policy ul {overflow: hidden;}
.ethical .ethical_policy ul li {float: left; width: 288px; height: 247px; margin: 30px 0 0 68px; padding: 20px 20px 0; border: 1px solid #dcdcdc; box-sizing: border-box;}
.ethical .ethical_policy ul li:nth-child(3n + 1) {margin-left: 0;}
.ethical .ethical_policy ul li h5 {padding-bottom: 20px; border-bottom: 1px solid #000;}
.ethical .ethical_policy ul li p {padding: 11px 0 27px 3px; font-size: 15px;}
.ethical .ethical_policy ul li .btn_download {width: 158px; margin: 0; padding: 15px 24px 14px 0; border: 1px solid #c6c6c6; font-size: 13px; text-align: right;}

@media screen and (max-width: 1200px) { /* pc */
  .ethical .ethical_policy ul {max-width: 644px; margin: 0 auto;}
  .ethical .ethical_policy ul li:nth-child(n) {margin-left: 68px;}
  .ethical .ethical_policy ul li:nth-child(2n + 1) {margin-left: 0;}
}

@media screen and (max-width: 1024px) { /* pc */
  .ethical .ethical_standard .unit_4 .btn_area {padding: 0;}
  .ethical .ethical_standard .unit_4 .btn {width: 48.5%; line-height: inherit;}
  .ethical .ethical_standard .unit_4 .btn:nth-child(n) {margin-left: 2.5%;} 
  .ethical .ethical_standard .unit_4 .btn:nth-child(2n + 1) {margin-left: 0;} 
}

@media screen and (max-width: 768px) { /* mobile */
  
  .ethical {font-size: 14px;}
  .ethical h3 {font-size: 22px;}
  .ethical h3 + p {padding-top: 15px;}
  .ethical h4 {font-size: 18px;}
  .ethical h5 {font-size: 16px;}
  .ethical .ethical_standard > div:not(.unit_3) {padding: 0 15px;}

  .ethical .ethical_standard .unit_4 .btn {width: 100%;}
  .ethical .ethical_standard .unit_4 .btn:nth-child(n) {margin: 20px auto 0;} 
  .ethical .ethical_standard .unit_4 .btn:first-child {margin-top: 15px;}
  .ethical .ethical_policy {margin-top: 30px; padding: 0 15px;}
  .ethical .ethical_policy ul li {float: none; height: 230px;}
  .ethical .ethical_policy ul li:nth-child(n) {margin: 30px auto 0;}
  .ethical .ethical_policy ul li h5 {padding-bottom: 10px;}
}

/* sub about contact */
.contact .map_area {width: 100%; height: 420px; background-color: #f2f2f2;}
.contact .contact_list {max-width: 1000px; margin: 0 auto; padding: 0 30px;} 
.contact .contact_list li {overflow: hidden; padding: 70px 0 70px 85px; box-sizing: border-box;}
.contact .contact_list li:last-child {padding-bottom: 0;}
.contact .contact_list li + li {border-top: 1px solid #f2f2f2;}
.contact .contact_list li img {float: left; margin: 6px 20px 0 0;}
.contact .contact_list li img ~ * {overflow: hidden;}
.contact .contact_list li .tit {display: block; margin-bottom: 10px; font-size: 30px; color: #000;}
.contact .contact_list li p a {color: #1e5e87;}

@media screen and (max-width: 768px) { /* mobile */
  .contact .contact_list {padding: 0 15px;}
  .contact .contact_list li {padding: 35px 10px;}
  .contact .contact_list li:first-child img {margin-top: 2px;}
  .contact .contact_list li img {width: 46px; margin-right: 15px;}
  .contact .contact_list li .tit {font-size: 18px;}
  .contact .contact_list li p {font-size: 14px;}
}

/* sub works portfolio */
.portfolio .tab_cont > ul {width: 100%; font-size: 0;}
.portfolio .tab_cont > ul > li {display: inline-block; width: calc(96% / 3); margin: 75px 0 0 2%;}
.portfolio .tab_cont > ul > li:nth-child(-n + 3) {margin-top: 0;}
.portfolio .tab_cont > ul > li:nth-child(3n + 1) {margin-left: 0;}
.portfolio .tab_cont > ul > li > a {display: block; overflow: hidden; position: relative; font-size: 16px;}
.portfolio .tab_cont > ul > li > a .badge_onair {position: absolute; top: 0; left: 0; z-index: 1; width: 70px; height: 70px; background-color: rgba(233, 71, 78, .9); font-size: 13px; line-height: 70px; color: #fff; text-align: center;}
.portfolio .tab_cont > ul > li > a .img_box {position: relative;}
.portfolio .tab_cont > ul > li > a:hover .img_box::before, .portfolio .tab_cont > ul > li > a:focus .img_box::before {content: ''; position: absolute; top: 0; right: 0; bottom: 0; left: 0; background-color: rgba(0, 0, 0, .75);}
.portfolio .tab_cont > ul > li > a .img_box img {max-width: 100%;}
.portfolio .tab_cont > ul > li > a .img_box .detail {display: none; position: absolute; right: 0; bottom: 0; left:0; padding: 40px; color: #fff;}
.portfolio .tab_cont > ul > li > a:hover .img_box .detail, .portfolio .tab_cont > ul > li > a:focus .img_box .detail {display: block;}
.portfolio .tab_cont > ul > li > a .img_box .detail .detail_tit { display: block;margin-bottom: 20px; font-size: 25px;}
.portfolio .tab_cont > ul > li > a .img_box .detail li + li {margin-top: 5px;}
.portfolio .tab_cont > ul > li > a .img_box .detail li em {display: inline-block; width: 50px;}
.portfolio .tab_cont > ul > li > a .tit {display: block; overflow: hidden; font-weight: 400; font-size: 25px; line-height: 48px; color: #000; text-overflow: ellipsis; white-space: nowrap;}
.portfolio .btn_more {padding: 17px 60px 18px;}


@media screen and (max-width: 1024px) { /* tablet */
  .portfolio .tab_cont > ul > li > a .img_box::before, .portfolio .tab_cont > ul > li > a .img_box .detail {display: none !important;}
}

@media screen and (max-width: 768px) { /* mobile */
  .portfolio .tab_cont > ul > li {width: calc(98% / 2); margin-top: 35px;}
  .portfolio .tab_cont > ul > li:nth-child(n) {margin-left: 2%;}
  .portfolio .tab_cont > ul > li:nth-child(2n + 1) {margin-left: 0;}
  .portfolio .tab_cont > ul > li > a .badge_onair {width: 42px; height: 42px; font-size: 10px; line-height: 42px;}
  .portfolio .tab_cont > ul > li > a .tit {font-size: 16px; line-height: 30px;}
  .portfolio .btn_more {padding: 8px 30px;}
}

/* sub pr news */
.news .board_list {border-top: 2px solid #000;}
.news .board_list li {overflow: hidden; padding: 50px 20px; border-bottom: 1px solid #f2f2f2; box-sizing: border-box;}
.news .board_list li a {display: block;}
.news .board_list li a .txt_box {float: left; width: calc(100% - 380px);}
.news .board_list li a .txt_box .tit {display: block; display: -webkit-box; overflow: hidden; height: 2.4em; margin-bottom: 25px; font-size: 30px; line-height: 1.2em; color: #000; text-overflow: ellipsis; word-wrap: break-word; -webkit-line-clamp: 2; -webkit-box-orient: vertical;}
.news .board_list li a:hover .txt_box .tit {color: #067acc;}
.news .board_list li a .txt_box .desc {overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.news .board_list li a .txt_box .date {margin-top: 15px;}
.news .board_list li a .img_box {overflow: hidden; float: right; width: 320px; height: 190px;}
.news .board_list li a img {max-width: 100%;}

@media screen and (max-width: 768px) { /* mobile */
  .news .board_list li {padding: 14px 10px 20px;}
  .news .board_list li a .txt_box {float: none; width: auto;}
  .news .board_list li a .txt_box .tit {margin-bottom: 14px; font-size: 19px;}
  .news .board_list li a .txt_box .date {margin-top: 8px; font-size: 14px;}
  .news .board_list li a .img_box {float: none; width: 100%; height: auto;}
}



/* img저장 */
/* css 정리 */


@media screen and (max-width: 1200px) { /* tablet */

}

@media screen and (max-width: 768px) { /* mobile */

}