@charset "utf-8";
/* CSS */
/* 반응형 분기점: pc: 1025 이상 | tablet: 601 ~ 1024 | mobile: 600 이하 */

/**** reset ****/
body {margin: 0;}
h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, p, table {margin: 0; padding: 0;}
h1, h2, h3, h4, h5, h6 {font-weight: 700;}
main {display: block;}
a {color: inherit; text-decoration: inherit;}
a img {border: none;}
img {vertical-align: middle;}
ol, ul, li {list-style: none;}
address, em, i, cite {font-style: normal;}
table {border-collapse: separate; border-spacing: 0; table-layout: fixed;}
table caption {overflow: hidden; width: 1px; height: 1px; margin: -1px; font-size: 1px; text-indent: -9999px;}
button {padding: 0; border: 0; background-color: transparent; font-family: inherit; cursor: pointer;}
@media screen and (max-width: 600px) { /* mobile */
  html {-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; text-size-adjust: 100%;}
  img {max-width: 100%;}
}

/**** common ****/
/* 기본 구조 */
body {background-color: #fff; font-size: 14px; font-family: 'Noto Sans KR', 'Roboto', '맑은 고딕', 'malgun gothic', 'Apple SD Gothic Neo', sans-serif; color: #222; word-break: keep-all;}
#wrap {overflow: hidden; position: relative; max-width: 1920px; min-width: 320px; margin: 0 auto;}
#skipNav a {position: fixed; top: -50px; left: 0; z-index: 10000; width: 100%; border-bottom: 1px solid #fff; background-color: #00561f; font-size: 16px; line-height: 40px; color: #fff; text-align: center; transition: top .3s;}
#skipNav a:focus {top: 0;}
.inner {margin: 0 auto;}

/* 레이아웃 */
.pf {position: fixed;}
.pr {position: relative;}
.pa {position: absolute;}
.fl {float: left;}
.fr {float: right;}
.clear {clear: both;}
.oh {overflow: hidden;}
.db {display: block;}
.dib {display: inline-block;}

/* 대체 택스트 */
.txt_blind, .blind {overflow: hidden; position: absolute; top: 0; left: 0; z-index: -1; width: 1px; height: 1px; font-size: 1px;}
i.fa-solid, i.fas {display: inline-block; vertical-align: middle;}
i.fa-solid span, i.fas span {overflow: hidden; position: absolute; text-indent: -9999px;}

/* 반응형 */
.mo_tablet {display: none !important;}
.mobile {display: none !important;}
@media screen and (max-width: 1024px) { /* tablet */
  .pc {display: none !important;}
  .mo_tablet {display: block !important;}
}
@media screen and (max-width: 600px) { /* mobile */
  .pc_tablet {display: none !important;}
  .mobile {display: block !important;}
}

/* 기타 스타일 공통 */
.bg_dimed {display: none; position: fixed; top: 0; right: 0; bottom: 0; left: 0; z-index: 25; background-color: rgba(0, 0, 0, .65);}
.bg_dimed.on {display: block;}
.scroll_disable {overflow: hidden; touch-action: none;}
.center {position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);}
.txt_center {position: absolute; top: 50%; left: 0; width: 100%; text-align: center; transform: translateY(-50%);}
/* .txt_ellipsis {display: block; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;} */
/* .txt_ellipsis_multiple {display: block; display: -webkit-box; overflow: hidden; height: 2.4em; line-height: 1.2em; text-overflow: ellipsis; word-wrap: break-word; -webkit-line-clamp: 2; 라인수 -webkit-box-orient: vertical;} */

/* 비상업용 포트폴리오 명시 */
.non_comm {position: fixed; bottom: 10px; left: 10px; z-index: 25; padding-left: 8px; font-size: 12px; color: #999; text-indent: -8px; transition: all .5s;}
.non_comm:hover {background-color: #111; color: #fff;}
@media screen and (max-width: 768px) { /* mobile */
  .non_comm {font-size: 10px;}
}

/* 구현 페이지 명시 */
[class *= 'made'] {position: relative;}
[class *= 'made'] .ico_blink {position: absolute; top: 50%; width: 12px; height: 12px; left: -15px; margin-top: -6px; border-radius: 50%; background-color: #ff07; /* animation: made_effect 1s infinite alternate; */}
[class *= 'made']:hover .ico_blink, [class *= 'made']:focus .ico_blink {animation: made_effect_hover 1s infinite alternate; /* animation: made_effect_hover 1s both; */}
.on [class *= 'made'] .ico_blink {animation: made_effect_hover 1s both;}
.made_page .ico_blink {background-color: #ff07;}
.made_load .ico_blink {background-color: #0f07;}
.gnb_depth_1 [class *= 'made'] .ico_blink {left: auto; margin-left: -15px;}
.tab_list [class *= 'made'] .ico_blink {left: 15px;} 
@media screen and (max-width: 768px) { /* mobile */
  [class *= 'made'] .ico_blink {width: 10px; height: 10px; margin-top: -5px;}
}

@keyframes made_effect {
  0% {opacity: 1;}
  100% {opacity: 0;}
}
@keyframes made_effect_hover {
  /* 0% {background-color: #ff0;} */
  100% {background-color: #f00; transform: scale(.8);}
}
@keyframes made_effect_hover_mo {
  /* 0% {background-color: #ff0;} */
  100% {background-color: #f00;}
}

/**** layout ****/
/* header / gnb */
#header {background: url(../img/common/bg_header.jpg) no-repeat center; background-size: cover; box-shadow: 0 3px 4px rgb(0 0 0 / 20%);}
#header::after {content: ''; display: block; clear: both; width: 100%; height: 3px; margin-top: -3px; background: url(../img/common/bg_line.png) no-repeat left bottom; background-size: 100%;}
#header .inner {overflow: hidden; max-width: 1048px; height: 172px; padding: 26px 0; text-align: center; box-sizing: border-box;}
#header .inner .logo {margin-bottom: 26px;}

#gnb > ul > li {float: left; width: calc((100% / 6) - 5px); margin: 0 2.5px;}
#gnb > ul > li > a {font-size: 19px; font-family: 'Nanum Myeongjo', serif; color: #384d33;}
#gnb > ul > li > a:hover, #gnb > ul > li.on a {font-weight: 700;}

@media screen and (max-width: 1200px) { /* pc */
  #header .inner {width: 98%; height: 150px; padding: 15px 0;}
}

@media screen and (max-width: 1024px) { /* tablet */
  #header::after {height: 2px; margin-top: -2px;}
  #header .inner {position: relative; height: 89px;}
  #header .inner .logo {margin-bottom: 0;}
  #header .inner .logo a img {height: 55px;}
  #header .inner .btn_gnb {position: absolute; top: 33px; left: 17px; width: 25px; height: 21px;}
  #header .inner .btn_gnb .ico_ham {display: block; width: 25px; height: 1px; margin: 10px auto; background-color: #000;}
  #header .inner .btn_gnb .ico_ham::before, #header .inner .btn_gnb .ico_ham::after {content: ''; display: block; position: absolute; width: 25px; height: 1px; background-color: #000;}
  #header .inner .btn_gnb .ico_ham::before {top: 0;}
  #header .inner .btn_gnb .ico_ham::after {bottom: 0;}

  #gnb {position: fixed; top: 0; left: -100%; z-index: 30; width: 50%; height: 100vh; padding: 20px; background-color: #fff; text-align: left; transition: left .3s;}
  #gnb.open {left: 0;}
  #gnb .img_logo img {width: 200px;}
  #gnb > ul {margin-top: 20px; padding: 20px 10px;}
  #gnb > ul > li {float: none; width: auto; margin: 0;border-bottom: 1px solid #ebeeef;}
  #gnb > ul > li > a {display: block; padding: 15px 0; font-weight: 300; font-size: 20px; font-family: inherit; color: #555;}
  #gnb > ul > li > a:hover, #gnb > ul > li.on a {font-weight: 500;}
  #gnb .btn_gnb_close {position: absolute; top: 0; right: -50px; width: 50px; height: 50px; background-color: #fff;}
  #gnb .btn_gnb_close .ico_close {display: block; width: 30px; height: 1px; margin: 25px auto; background: #b5b5b5; transform: rotate(45deg);}
  #gnb .btn_gnb_close .ico_close::after {content: ''; display: block; width: 30px; height: 1px; background-color: #b5b5b5; transform: rotate(90deg);}
}

@media screen and (max-width: 600px) { /* mobile */
  #header::after {height: 1px; margin-top: -1px;}
  #gnb {width: 72%;}
}

/* footer */
#footer {position: relative; z-index: 10; background-color: #333;}
#footer .inner {position: relative; max-width: 1200px; padding: 42px 0 31px; font-family: 'Nanum Gothic', sans-serif; text-align: center;}
#footer .inner address, #footer .inner .copyright {font-weight: 300; font-size: 13px; line-height: 23px; color: #777;}
#footer .inner address span + span::before {content: '|'; margin: 0 16px 0 14px; color: #777;}
#footer .inner address .address::before,
#footer .inner address .tel::before {content: ''; display: block;}
#footer .inner .family {position: absolute; top: 30px; right: 0; width: 189px; border: 1px solid #fff; text-align: left;}
#footer .inner .family .btn_family_toggle {padding: 6px 7px; font-size: 12px; color: #fff;}
#footer .inner .family .btn_family_toggle i {margin-left: 50px; transition: all .3s; vertical-align: baseline;}
#footer .inner .family .btn_family_toggle.on i {transform: rotate(-180deg);}
#footer .inner .family .btn_family_toggle.on ~ ul {visibility: visible; height: 433px;}
#footer .inner .family ul {visibility: hidden; overflow: hidden; position: absolute; right: -2px; bottom: 100%; left: -2px; height: 0; padding: 0 5px; border: 1px solid #262626; background-color: #fff; transition: all .3s;}
#footer .inner .family ul > li + li {margin-top: 3px;}
#footer .inner .family ul li a {display: block; padding: 7px 0; font-size: 12px; color: #000;}
#footer .inner .family ul li a:hover {text-decoration: underline;}
#footer .inner .ci {margin-top: 23px;}

@media screen and (max-width: 1200px) { /* pc */
  #footer .inner {width: 98%;}
}

@media screen and (max-width: 1024px) { /* tablet */
  #footer .inner {padding: 31px 0 23px;}
  #footer .inner .family {position: relative; top: auto; right: auto; margin: 13px auto 0;}
  #footer .inner .ci {margin-top: 13px;}
}

@media screen and (max-width: 600px) { /* mobile */
  #footer .inner {width: 90%;}
  #footer .inner address span {display: block;}
  #footer .inner address span + span::before {content: ''; margin: 0 10px 0 8px;}
  #footer .inner address .corp, #footer .inner address .reg_num {display: inline;}
  #footer .inner address .reg_num::before {content: '|';}
}

/* 페이지 맨 위로 이동 버튼 */
.btn_page_top {visibility: hidden; position: fixed; right: 15%; bottom: 0; z-index: 25; width: 42px; height: 40px; background-color: #007636; opacity: 0; transition: .5s all;}
.btn_page_top.on {visibility: visible; opacity: 1;}
@media screen and (max-width: 1200px) { /* pc */
  .btn_page_top {right: 0;}
}

/**** main ****/
/* main visual */
.main_visual {position: relative; font-family: 'Nanum Myeongjo', serif; color: #fff;}
.main_visual::after {content: ''; display: block; width: 100%; height: 3px; background: url(../img/common/bg_line.png) no-repeat left bottom; background-size: 100%;}
.main_visual .slider .slide_cont {overflow: hidden; position: relative; height: 800px;}
.main_visual .slider .slide_cont > img {position: absolute; top: 0; left: 50%; transform: translateX(-50%);}
.main_visual .slider .slide_cont .inner {position: relative; max-width: 1200px;}
.main_visual .slider .slide_cont .inner .msg_box {position: absolute; top: 36px; right: 0; background: rgba(106, 57, 6, 0.8);}
.main_visual .slider .unit_2 .inner .msg_box {background: rgba(0, 119, 55, 0.8);}
.main_visual .slider .unit_3 .inner .msg_box {background: rgba(0, 0, 0, 0.8);}
.main_visual .slider .unit_4 .inner .msg_box {background: rgba(48, 81, 116, 0.8);}
.main_visual .slider .slide_cont .inner .msg_box p {width: 312px; height: 438px; margin: 11px; padding: 36px 25px 20px 20px; border: 3px solid #fff; font-size: 25px; line-height: 40px; writing-mode: vertical-rl; -ms-writing-mode: tb-rl; box-sizing: border-box;}
.main_visual .slider .slide_cont .inner .msg_box p::after {content: ''; display: block; position: absolute; top: 50px; left: 34px; width: 42px; height: 4px; background-color: #fff;}
.main_visual .slider .slide_cont .inner .msg_box .ico_stamp {position: absolute; bottom: 31px; left: 34px;}
.main_visual .slider .slide_cont .slogan {position: absolute; bottom: 0; left: 0; width: 100%; min-height: 145px; padding: 30px 0 25px; background: url(../img/main/bg_visual_bottom_1.png); text-align: center;}
.main_visual .slider .unit_2 .slogan {background: url(../img/main/bg_visual_bottom_2.png);}
.main_visual .slider .unit_3 .slogan {background: url(../img/main/bg_visual_bottom_3.png);}
.main_visual .slider .unit_4 .slogan {background: url(../img/main/bg_visual_bottom_4.png);}
.main_visual .slider .slide_cont .slogan p:nth-child(1) {font-weight: 700; line-height: 46px;}
.main_visual .slider .slide_cont .slogan p:nth-child(1) strong {display: block;}
.main_visual .slider .slide_cont .slogan p:nth-child(1) strong:nth-child(1) {font-size: 40px;}
.main_visual .slider .slide_cont .slogan p:nth-child(1) strong:nth-child(2) {font-size: 27px;}
.main_visual .slider .slide_cont .slogan p:nth-child(2) {font-size: 21px; line-height: 28px;}

/* .main_visual .slider에 bx-slider 추가 */
.main_visual .bx-controls-direction > a {display: block; position: absolute; top: 35%; left: 0; width: 45px; padding: 27px 0; border-radius: 0 5px 5px 0; background-color: #fff; font-size: 16px; color: #585858; text-align: center;}
.main_visual .bx-controls-direction .bx-next {right: 0; left: auto; border-radius: 5px 0 0 5px;}

@media screen and (max-width: 1200px) { /* pc */
  .main_visual .slider .slide_cont .inner {width: 96%;}
  .main_visual .slider .slide_cont .slogan p {width: 96%; margin: 0 auto;}
}

@media screen and (max-width: 1024px) { /* tablet */
  .main_visual::after {height: 2px;}
  .main_visual .slider .slide_cont {height: auto;}
  .main_visual .slider .slide_cont > img {position: static; width: 100%; transform: translate(0);}
  .main_visual .slider .slide_cont .inner {position: relative; width: 100%;}
  .main_visual .slider .slide_cont .inner .msg_box {overflow: hidden; position: static;}
  .main_visual .slider .slide_cont .inner .msg_box p {width: auto; height: 100px; min-height: 100px; padding: 10px; writing-mode: horizontal-tb; -ms-writing-mode: lr-tb; box-sizing: content-box;}
  .main_visual .slider .slide_cont .inner .msg_box p::after {top: auto; right: 25px; bottom: 20px; left: auto;}
  .main_visual .slider .slide_cont .inner .msg_box p > br {display: none;}
  .main_visual .slider .slide_cont .inner .msg_box .ico_stamp {display: none;}
  .main_visual .slider .slide_cont .slogan {position: static; min-height: auto; padding: 30px 0 20px; background: none; color: #886138;}
  .main_visual .slider .unit_2 .slogan {background: none; color: #007737;}
  .main_visual .slider .unit_3 .slogan {background: none; color: #333;}
  .main_visual .slider .unit_4 .slogan {background: none; color: #597490;}
  .main_visual .slider .slide_cont .slogan p:nth-child(1) {font-weight: 700; line-height: 36px;}
  .main_visual .slider .slide_cont .slogan p:nth-child(1) strong:nth-child(1) {font-size: 32px;}
  .main_visual .slider .slide_cont .slogan p:nth-child(1) strong:nth-child(2) {font-size: 23px;}
  .main_visual .slider .slide_cont .slogan p:nth-child(2) {font-size: 15px; line-height: 24px;}
  .main_visual .slider .slide_cont .slogan p:nth-child(2) > br {display: none;}

  /* .main_visual .slider에 bx-slider 추가 */
  .main_visual .bx-viewport {height: auto !important;}
}

@media screen and (max-width: 600px) { /* mobile */
  .main_visual::after {height: 1px;}
  .main_visual .slider .slide_cont .inner .msg_box p {line-height: 35px;}

  /* .main_visual .slider에 bx-slider 추가 */
  .main_visual .bx-controls-direction > a {display: none;}
}

@media screen and (max-width: 480px) { /* mobile */
  .main_visual .slider .slide_cont .inner .msg_box p {font-size: 5.208vw; /* 25px */}
  .main_visual .slider .slide_cont .slogan p:nth-child(1) strong:nth-child(1) {font-size: 25px;}
  .main_visual .slider .slide_cont .slogan p:nth-child(1) strong:nth-child(2) {font-size: 17px;}
}

/* main content */
.main_content {margin-bottom: 150px; padding-top: 51px;}
.main_content .inner {position: relative; max-width: 1200px; height: 706px;}
.main_content .inner ul li {position: absolute; padding: 37px 40px 28px; border: 1px solid #dcdcdc; letter-spacing: -0.25px; box-sizing: border-box; transition: all .3s;}
.main_content .inner ul li:hover, .main_content .inner ul li:hover::before, .main_content .inner ul li:focus-within, .main_content .inner ul li:focus-within::before {border-color: #00561f;}
.main_content .inner ul li::before {content: ''; position: absolute; top: 0px; right: 0px; bottom: 0px; left: 0px; z-index: -1; border: 2px solid transparent; transition: border .3s;}
.main_content .inner ul .unit_1 {top: 0; bottom: 0; left: 0; width: calc(35% - 10px); background: url(../img/main/bg_cont_1.png) no-repeat center bottom;}
.main_content .inner ul .unit_2 {top: 0; right: 0; width: calc(65% - 10px); height: calc(50% - 10px); background: url(../img/main/bg_cont_2.png) no-repeat right center; background-size: 50%;}
.main_content .inner ul .unit_3 {right: 0; bottom: 0; width: calc(65% - 10px); height: calc(50% - 10px); background: url(../img/main/bg_cont_3.png) no-repeat right center; background-size: 50%;}
.main_content .inner ul li .tit {display: block; margin-bottom: 20px; font-weight: 400; font-size: 38px; line-height: 46px; font-family: 'Nanum Myeongjo', serif; color: #444;}
.main_content .inner ul li .tit em {font-weight: 700; color: #00561f;}
.main_content .inner ul li p {font-size: 16px; line-height: 24px; color: #777;}
.main_content .inner ul .unit_2 p, .main_content .inner ul .unit_3 p {padding-right: 49%;}
.main_content .inner ul li .btn_detail {display: block; position: relative; width: 85px; height: 28px; margin-top: 15px; border: 1px solid #00561f; font-weight: 300; font-size: 11px; line-height: 27px; color: #00561f; text-align: center; transition: all .3s;}
.main_content .inner ul li .btn_detail:hover {color: #fff;}
.main_content .inner ul li .btn_detail::before {content: ''; position: absolute; top: 0; right: 0; bottom: 0; z-index: -1; width: 0; background-color: #00561f; transition: all .3s;}
.main_content .inner ul li .btn_detail:hover::before {left: 0; width: 100%;}
.main_content .inner ul li .btn_detail i {margin: -3px 0 0 10px;}

@media screen and (max-width: 1200px) { /* pc */
  .main_content .inner {width: 96%;}
  .main_content .inner ul .unit_1 {width: calc(30% - 10px);}
  .main_content .inner ul .unit_2 {width: calc(70% - 10px);}
  .main_content .inner ul .unit_3 {width: calc(70% - 10px);}
}

@media screen and (max-width: 1024px) { /* tablet */
  .main_content {margin-bottom: 70px;}
  .main_content .inner {height: auto;}
  .main_content .inner ul li {position: relative; margin-bottom: 20px;}
  .main_content .inner ul .unit_1 {top: auto; bottom: auto; left: auto; width: auto; min-height: 555px;}
  .main_content .inner ul .unit_2 {top: auto; right: auto; width: auto; min-height: 343px;}
  .main_content .inner ul .unit_3 {right: auto; bottom: auto; width: auto; min-height: 343px;}
  .main_content .inner ul .unit_1 .tit > br {display: none;}
}

@media screen and (max-width: 600px) { /* mobile */
  .main_content .inner ul .unit_2 p, .main_content .inner ul .unit_3 p {padding-right: 46%;}
}

@media screen and (max-width: 480px) { /* mobile */
  .main_content .inner ul li {box-sizing: content-box;}
  .main_content .inner ul .unit_1 {padding-bottom: 6%; background-size: 80%;}
  .main_content .inner ul .unit_2, .main_content .inner ul .unit_3 {padding-bottom: 21%; background-position: center bottom; background-size: 80%;}
  .main_content .inner ul li .tit {font-size: 20px;}
  .main_content .inner ul li .tit > br {display: none;}
  .main_content .inner ul .unit_2 p, .main_content .inner ul .unit_3 p {padding: 0;}
}

/**** sub ****/
/* sub common */
.sub_visual {height: 240px;}
.sub_visual .visual_tit {padding-top: 85px; font-size: 58px; font-family: 'Nanum Myeongjo', serif; color: #fff; text-align: center;}

.content {position: relative; max-width: 1200px; margin: 0 auto;}
.content .tab_list {position: absolute; bottom: 100%; width: 100%; text-align: center;}
.content .tab_list li {display: inline-block; width: 200px; text-align: center;}
.content .tab_list li:hover a, .content .tab_list li.on a {background-color: #fff; color: #007c40;}
.content .tab_list li a {display: block; padding: 15px 0; background-color: rgba(0, 124, 64, .8); font-size: 18px; font-family: 'Nanum Gothic', sans-serif; color: #fff; transition: all .3s;}
.content .cont_tit_area {max-width: 1200px; margin: 0 auto; padding: 70px 0 60px;}
.content .cont_tit_area .cont_tit {padding-bottom: 18px; background: url(../img/sub/bg_line.jpg) no-repeat center bottom; font-size: 46px; font-family: 'Nanum Myeongjo', serif; color: #036535; text-align: center;}
.content .cont_tit_area .cont_desc {margin-top: 30px; font-size: 18px; line-height: 28px; font-family: 'Nanum Gothic', sans-serif; color: #555; letter-spacing: -0.25px;}

@media screen and (max-width: 1200px) { /* pc */
  .content .tab_list li {width: 24%;}
  .content .cont_tit_area {width: 96%;}
}

@media screen and (max-width: 600px) { /* mobile */
  .sub_visual {height: 200px;}
  .sub_visual .visual_tit {padding-top: 75px; font-size: 43px;}  
  .content .tab_list li a {font-size: 3vw; /* 18px */}
}

/* sub story */
.story .sub_visual {background: url(../img/sub/bg_visual_story.jpg) no-repeat; background-size: cover;}
.story .content {max-width: 100%; margin: 0;}
.story .section {overflow: hidden; position: relative; min-height: 100vh; padding: 20px 0; box-sizing: border-box;}
.story .page_1 {background: url(../img/sub/bg_story_1.jpg) no-repeat center right; background-size: cover;}
.story .page_2 {background: url(../img/sub/bg_story_2.jpg) no-repeat center center; background-size: cover;}
.story .page_3 {background: url(../img/sub/bg_story_3.jpg) no-repeat center center; background-size: cover;}
.story .page_4 {background: url(../img/sub/bg_story_4.jpg) no-repeat center center; background-size: cover;}
.story .section .inner {width: 1200px; font-weight: 400; color: #fff; letter-spacing: -0.25px; text-align: center;}
.story .page_1 .inner {padding-left: 60px; color: #222; text-align: left;}
.story .section .inner .tit_area {margin-bottom: 35px; font-family: 'Nanum Myeongjo', serif;}
.story .section .inner .tit_area .tit {font-size: 44px;}
.story .page_1 .inner .tit_area .tit {color: #274e19;}
.story .page_2 .inner .tit_area .tit {margin-bottom: 20px; font-size: 48px;}
.story .page_3 .inner .tit_area .tit, .story .page_4 .inner .tit_area .tit {margin-top: 20px;}
.story .section .inner .tit_area .tit strong {font-weight: 800;}
.story .page_2 .inner .tit_area .tit strong, .story .page_2 .inner .tit_area .desc span {color: #d7d91e;}
.story .page_2 .inner .tit_area .desc {font-weight: 800; font-size: 32px;}
.story .page_3 .inner .tit_area .desc, .story .page_4 .inner .tit_area .desc {font-size: 20px; line-height: 26px;}
.story .section .inner .paragraph {padding: 0 5%; font-size: 18px; line-height: 36px; font-family: 'Nanum Gothic', sans-serif;}
.story .page_1 .inner .sign, .story .page_3 .inner img {margin-top: 30px;}
.story .page_1 .inner .sign span {font-size: 14px; font-family: 'Nanum Myeongjo', serif;}
.story .page_3 .inner img + img {margin-left: 25px;}

/* .story .content에 swiper 추가 */
.story .swiper, .story .swiper-wrapper, .story .swiper-slide {width: 100%; height: 100vh;}
/* .swiper-slide {display: flex; justify-content: center; align-items: center;} */
.story .swiper .swiper-pagination .swiper-pagination-bullet {width: 10px; height: 10px; margin-bottom: 10px;}
.story .swiper .swiper-pagination .swiper-pagination-bullet-active {background-color: #00561f;}

@media screen and (max-width: 1200px) { /* pc */
  .story .section .inner {width: 96%;}
  .story .page_1 .inner {padding: 0; color: #fff; text-align: center;}
  .story .section .inner .paragraph > br {display: none;}
}

@media screen and (max-width: 600px) { /* mobile */
  .story .section {display: table; padding: 40px 0;}
  .story .section .inner {display: table-cell; vertical-align: middle;}
  .story .section .inner .tit_area .tit {font-size: 35px;}
  .story .page_1 .inner .tit_area .tit {font-size: 24px;}
  .story .page_2 .inner .tit_area .tit {font-size: 39px;}
  .story .page_2 .inner .tit_area .desc {font-size: 25px;}
  .story .section .inner .paragraph {font-size: 15px; line-height: 30px;}
  
  /* .story .content에 swiper 제거 */
  .story .swiper, .story .swiper-wrapper, .story .swiper-slide {width: auto; height: auto;}
  .story .swiper .swiper-wrapper {display: block;}
  .story .swiper .swiper-pagination {display: none;}
}

/* sub ssam */
.ssam .sub_visual {background: url(../img/sub/bg_visual_ssam.jpg) no-repeat; background-size: cover;}
.ssam .content {max-width: 100%;}
.ssam .section .ssam_menu_wrap li {clear: both; position: relative; width: 50%; letter-spacing: -0.5px; transform: translateY(40%); opacity: 0; transition: all 1.2s;}
.ssam .section .ssam_menu_wrap li.show, .ssam .section .ssam_menu_wrap .bg_bottom.show {transform: translateY(0); opacity: 1;}
.ssam .section .ssam_menu_wrap li:nth-child(odd) {float: left; margin: -3% 0 0 22%;}
.ssam .section .ssam_menu_wrap li:nth-child(even) {float: right; margin: -16% -10% 0 0;}
.ssam .section .ssam_menu_wrap li:last-child {margin-bottom: 5% !important;}
.ssam .section .ssam_menu_wrap li h4 {margin: 0 0 15px 60px; padding: 0 15px 5px 0; font-size: 42px; font-family: 'Nanum Myeongjo', serif; color: #132019;}
.ssam .section .ssam_menu_wrap li h4::after {content: ''; display: block; width: 100px; height: 2px; margin: 10px 0; background-color: #333;}
.ssam .section .ssam_menu_wrap li p {margin-left: 60px; font-size: 16px; line-height: 28px; font-family: 'Nanum Gothic', sans-serif; color: #777;}
.ssam .section .ssam_menu_wrap li .bg_menu {position: absolute; top: -33%; z-index: -1; transform: translateY(40%); opacity: 0; transition: all 1.2s;}
.ssam .section .ssam_menu_wrap li.show .bg_menu {transform: translateY(0); opacity: 1;}
.ssam .section .ssam_menu_wrap .bg_bottom {clear: both; width: 100%; height: 520px; background: no-repeat center center; background-size: cover; transform: translateY(40%); opacity: 0; transition: all 1.2s;}
.ssam .section .unit_1 .bg_bottom {height: 585px; background-image: url(../img/sub/bg_ssam_1.jpg);}
.ssam .section .unit_2 .bg_bottom {background-image: url(../img/sub/bg_ssam_2.jpg);}
.ssam .section .unit_3 .bg_bottom {background-image: url(../img/sub/bg_ssam_3.jpg);}
.ssam .section .unit_4 .bg_bottom {background-image: url(../img/sub/bg_ssam_4.jpg);}

/* 위치 세부 조정 */
.ssam .section .unit_1 li:nth-child(2), .ssam .section .unit_2 li:nth-child(4), .ssam .section .unit_3 li:nth-child(6) {margin-right: -5%;}
.ssam .section .unit_2 li:nth-child(1) {margin-top: -9%;}
.ssam .section .unit_3 li:nth-child(1) {margin-top: -12%;}
.ssam .section .unit_4 li:nth-child(odd) {float: right; margin: -3% 10% 0 0;}
.ssam .section .unit_4 li:nth-child(even) {float: left; margin: -3% 0 0 22%;}
.ssam .section .unit_4 li:nth-child(1) {margin-top: 0;}

.ssam .section .ssam_menu_wrap li:last-child, .ssam .section .unit_4 li {width: 100%;}
.ssam .section .ssam_menu_wrap li:last-child img, .ssam .section .unit_4 li img {float: left; margin-right: 60px;}
.ssam .section .ssam_menu_wrap li:last-child h4, .ssam .section .unit_4 li h4 {overflow: hidden; margin-top: 13%;}
.ssam .section .ssam_menu_wrap li:last-child p, .ssam .section .unit_4 li p {overflow: hidden;}

.ssam .section .unit_4 li:nth-child(odd) img {float: right; margin-right: 0; margin-left: 60px;}
.ssam .section .unit_4 li:nth-child(odd) h4 {text-align: right;}
.ssam .section .unit_4 li:nth-child(odd) h4::after {margin: 10px 0 10px auto;}
.ssam .section .unit_4 li:nth-child(odd) p {text-align: right;}

/* .bg_menu 넣기 */
.ssam .section .unit_3 li:nth-child(3) {width: 100%;} 
.ssam .section .unit_3 li:nth-child(3) .bg_menu {left: -22%; width: 707px;}
.ssam .section .unit_4 li:nth-child(2) {width: 100%; margin-top: 3%;}
.ssam .section .unit_4 li:nth-child(2) .bg_menu {left: -22%;}
.ssam .section .unit_4 li:nth-child(5) {width: 100%; margin-top: 12%; margin-right: 25%;} 
.ssam .section .unit_4 li:nth-child(5) .bg_menu {right: -25%;} 

/* .bg_bubble 넣기 */
.ssam .section .unit_1 li:nth-child(2)::after {content: ''; position: absolute; right: 35%; bottom: 0; z-index: -1; width: 150px; height: 116px; background: url(../img/sub/bg_ssam_bubble_1.png) no-repeat;}
.ssam .section .unit_2 li:nth-child(1)::after {content: ''; position: absolute; bottom: 27%; left: -27%; z-index: -1; width: 152px; height: 134px; background: url(../img/sub/bg_ssam_bubble_2.png) no-repeat;}
.ssam .section .unit_3 li:nth-child(4)::after {content: ''; position: absolute; top: -23%; left: 7%; z-index: -1; width: 150px; height: 116px; background: url(../img/sub/bg_ssam_bubble_3.png) no-repeat;}
.ssam .section .unit_4 li:nth-child(6)::after {content: ''; position: absolute; top: 33%; left: 34%; z-index: -1; width: 150px; height: 116px; background: url(../img/sub/bg_ssam_bubble_4.png) no-repeat;}

@media screen and (max-width: 1024px) { /* tablet */
  .ssam .section .ssam_menu_wrap li:nth-child(odd) {margin: -5% 0 0 0;}
  .ssam .section .ssam_menu_wrap li:nth-child(even) {margin: -30% 0 0 0;}
  .ssam .section .ssam_menu_wrap li {width: 50% !important;}
  .ssam .section .ssam_menu_wrap li img {float: none !important; margin: 0 !important;}
  .ssam .section .ssam_menu_wrap li h4 {margin-top: 0 !important; text-align: left !important;}
  .ssam .section .ssam_menu_wrap li h4::after {margin: 10px 0 !important;}
  .ssam .section .ssam_menu_wrap li p {text-align: left !important;}
  .ssam .section .ssam_menu_wrap li .bg_menu {display: none;}
  .ssam .section .ssam_menu_wrap .bg_bottom {height: 300px;}

  .ssam .section .unit_1 li:nth-child(1) {margin-left: 5%;}
  .ssam .section .unit_4 li:nth-child(odd) {margin-top: -30%;}
  .ssam .section .unit_4 li:nth-child(even) {margin-top: -5%;}
  .ssam .section .unit_2 li:nth-child(1), .ssam .section .unit_3 li:nth-child(1), .ssam .section .unit_4 li:nth-child(1) {margin-top: 0;}
  .ssam .section .ssam_menu_wrap li::after {top: auto !important; right: 35% !important; bottom: 0 !important; left: auto !important;}
}

@media screen and (max-width: 600px) { /* mobile */
  .ssam .section .ssam_menu_wrap li {float: none !important; width: 100% !important;}
  .ssam .section .ssam_menu_wrap li:nth-child(odd) {margin: 0;}
  .ssam .section .ssam_menu_wrap li:nth-child(even) {margin: 10px 0 0 0;}
  .ssam .section .ssam_menu_wrap .bg_bottom {transform: translateY(0);}
}

/* sub menu */
.menu .sub_visual {background: url(../img/sub/bg_visual_menu.jpg) no-repeat; background-size: cover;}
.menu .content {padding: 70px 0 100px;}
.menu .section li {display: flex; flex-direction: row; align-items: center; margin-bottom: 20px;}
.menu .section li:nth-child(even) {flex-direction: row-reverse;}
.menu .section li > * {width: 47%;}
.menu .section li:nth-child(odd) img {margin-right: 4%;}
.menu .section li:nth-child(even) img {margin-left: 4%;}
.menu .section li .txt_box {flex-grow: 1;}
.menu .section li .txt_box .tit {display: block; padding-bottom: 25px; background: url(../img/sub/bg_line.jpg) no-repeat left bottom; font-weight: 400; font-size: 38px; font-family: 'Nanum Myeongjo', serif; color: #555;}
.menu .section li .txt_box .desc {padding: 25px 0 15px; font-size: 16px; line-height: 24px; font-family: 'Nanum Gothic', sans-serif; color: #777;}

@media screen and (max-width: 1200px) { /* pc */
  .menu .content {width: 96%;}
}

@media screen and (max-width: 600px) { /* mobile */
  .menu .section li {display: block;}
  .menu .section li > * {width: 100%;}
  .menu .section li:nth-child(odd) img, .menu .section li:nth-child(even) img {margin: 0;}
  .menu .section li .txt_box {padding: 2%; border: 1px solid #ddd; box-sizing: border-box;}
  .menu .section li .txt_box .tit {position: relative; padding-bottom: 0; background: none; font-size: 27px;}
  .menu .section li .txt_box .tit::after {content:'\f078'; display: inline-block; position: absolute; top: 8px; right: 2%; font-size: 16px; font-family: FontAwesome; color: #555; transition: transform .5s;}
  .menu .section li .txt_box:hover .tit::after {transform: rotate(-180deg);}
  .menu .section li .txt_box:hover .tit ~ .desc {visibility: visible; height: 72px; padding: 25px 0 15px;}
  .menu .section li .txt_box .desc {visibility: hidden; overflow: hidden; height: 0; padding: 0; transition: all .5s;}
}
