@charset "utf-8";
/* CSS */
/* 반응형 분기점: pc: 769 이상 | mobile: 768 이하 */

/**** reset ****/
body {margin: 0;}
h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, p, table {margin: 0; padding: 0;}
h1, h2, h3, h4, h5, h6 {font-weight: 700;}
main {display: block;}
a {color: inherit; text-decoration: inherit;}
a img {border: none;}
img {vertical-align: middle;}
ol, ul, li {list-style: none;}
address, em, i, cite {font-style: normal;}
table {border-collapse: separate; border-spacing: 0; table-layout: fixed;}
table caption {overflow: hidden; width: 1px; height: 1px; margin: -1px; font-size: 1px; text-indent: -9999px;}
button {padding: 0; border: 0; background-color: transparent; font-family: inherit; cursor: pointer;}
@media screen and (max-width: 768px) { /* mobile */
  html {-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; text-size-adjust: 100%;}
  img {max-width: 100%;}
}

/**** common ****/
/* 기본 구조 */
body {background-color: #fff; font-size: 15px; font-family: '맑은 고딕', 'malgun gothic', 'Apple SD Gothic Neo', sans-serif; color: #010101; word-break: keep-all;}
#wrap {overflow: hidden; position: relative; max-width: 1920px; min-width: 320px; margin: 0 auto;}
#skipNav a {position: fixed; top: -50px; left: 0; z-index: 10000; width: 100%; border-bottom: 1px solid #fff; background-color: #fa3e3e; font-size: 16px; line-height: 40px; color: #fff; text-align: center; transition: top .3s;}
#skipNav a:focus {top: 0;}
.inner {margin: 0 auto;}

/* 레이아웃 */
.pf {position: fixed;}
.pr {position: relative;}
.pa {position: absolute;}
.fl {float: left;}
.fr {float: right;}
.clear {clear: both;}
.oh {overflow: hidden;}
.db {display: block;}
.dib {display: inline-block;}

/* 대체 택스트 */
.txt_blind, .blind {overflow: hidden; position: absolute; top: 0; left: 0; z-index: -1; width: 1px; height: 1px; font-size: 1px;}
i.fa-solid, i.fas {display: inline-block; vertical-align: middle;}
i.fa-solid span, i.fas span {overflow: hidden; position: absolute; text-indent: -9999px;}

/* 반응형 */
.mobile {display: none !important;}
@media screen and (max-width: 768px) { /* mobile */
  .pc {display: none !important;}
  .mobile {display: block !important;}
}

/* 기타 스타일 공통 */
.bg_dimed {display: none; position: fixed; top: 0; right: 0; bottom: 0; left: 0; z-index: 25; background-color: rgba(0, 0, 0, .65);}
.bg_dimed.on {display: block;}
.scroll_disable {overflow: hidden; touch-action: none;}
.center {position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);}
.txt_center {position: absolute; top: 50%; left: 0; width: 100%; text-align: center; transform: translateY(-50%);}
/* .txt_ellipsis {display: block; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;} */
/* .txt_ellipsis_multiple {display: block; display: -webkit-box; overflow: hidden; height: 2.4em; line-height: 1.2em; text-overflow: ellipsis; word-wrap: break-word; -webkit-line-clamp: 2; 라인수 -webkit-box-orient: vertical;} */

/* 비상업용 포트폴리오 명시 */
.non_comm {position: fixed; right: 10px; bottom: 10px; z-index: 25; padding-left: 8px; font-size: 12px; color: #999; text-indent: -8px; transition: all .5s;}
.non_comm:hover {background-color: #111; color: #fff;}
@media screen and (max-width: 768px) { /* mobile */
  .non_comm {font-size: 10px;}
}

/**** layout ****/
/* header / gnb */
#header {position: fixed; top: 0; left: 0; z-index: 30; width: 100%;}
#header .header_top {border-bottom: 1px solid rgba(255, 255, 255, .28);}
#header .header_top .inner {position: relative; max-width: 1144px; height: 45px; color: #fff;}
#header .header_top .inner .news {position: absolute; top: 50%; left: 0; z-index: 1; font-size: 13px; transform: translateY(-50%);}
#header .header_top .inner .news h3 {float: left; margin-right: 18px;}
#header .header_top .inner .news h3 a {display: block; font-weight: 400; font-size: 13px; line-height: 45px;}
#header .header_top .inner .news .txt_news_random {display: block; overflow: hidden; line-height: 45px;}
#header .header_top .inner .news .txt_news_random::after {content: ''; display: inline-block; margin-left: 10px; border: 3.5px solid transparent; border-top: 5px solid #feff8e; vertical-align: middle;}
#header .header_top .inner .news article {display: none; position: absolute; top: 0; left: 0; width: 480px; background-color: #fff;}
#header .header_top .inner .news article.open {display: block;}
#header .header_top .inner .news article h4 {height: 38px; padding: 0 15px; background-color: #5a606a; font-weight: 400; font-size: 18px; line-height: 34px;}
#header .header_top .inner .news article .news_list {padding: 5px 10px 10px;}
#header .header_top .inner .news article .news_list li {margin-bottom: 5px;}
#header .header_top .inner .news article .news_list li a {display: block; line-height: 33px; color: #999;}
#header .header_top .inner .news article .news_list li a .txt_tit {display: inline-block; width: 80px;}
#header .header_top .inner .news article .btn_news_more {position: absolute; top: 6px; right: 15px; width: 55px; padding: 2px 0 5px; border: 1px solid #c9cbce; border-radius: 3px; font-size: 12px; text-align: center;}
#header .header_top .inner .util_list {position: absolute; top: 50%; right: 25px; font-size: 12px; transform: translateY(-50%);}
#header .header_top .inner .util_list > li {float: left;}
#header .header_top .inner .util_list > li + li:not(.lang)::before {content: '/'; display: inline-block; margin: 0 8px 0 10px;}
#header .header_top .inner .util_list > li > a {letter-spacing: -1px;}
#header .header_top .inner .util_list > .lang > ul > li {float: left; margin-left: 5px;}

#header .header_main {border-bottom: 1px solid rgba(255, 255, 255, .28);}
#header .header_main .inner {position: relative; max-width: 1144px; height: 72px;}
#header .header_main .inner .logo {position: absolute; top: 50%; left: 0; transform: translateY(-50%);}
#header .header_main .inner .logo a {display: block; width: 68px; height: 40px; background: url(../img/common/img_header_logo.png) no-repeat; background-size: 100%;}
#header .header_main .inner .btn_gnb {position: absolute; top: 50%; right: 0; width: 28px; height: 22px; background: url(../img/common/btn_gnb.png) no-repeat; background-size: 100%; transform: translateY(-50%);}

#header .txt_cont_tit {z-index: -1; font-weight: 600; font-size: 22px; text-align: center;}

#gnb {position: fixed; top: 0; right: -500px; z-index: 30; width: 440px; height: 100vh; padding-top: 65px; background-color: #fff; box-sizing: border-box; transition: all .4s;}
#gnb.open, #gnb.open > ul > li {right: 0;}
#gnb > ul {padding: 0 40px 0 84px;}
#gnb > ul > li {position: relative; right: -120%; margin-bottom: 15px; transition: all .4s;}
#gnb > ul > li:nth-child(1) {transition-delay: .1s;}
#gnb > ul > li:nth-child(2) {transition-delay: .2s;}
#gnb > ul > li:nth-child(3) {transition-delay: .3s;}
#gnb > ul > li:nth-child(4) {transition-delay: .4s;}
#gnb > ul > li:nth-child(5) {transition-delay: .5s;}
#gnb > ul > li:nth-child(6) {transition-delay: .6s;}
#gnb > ul > li:nth-child(7) {transition-delay: .7s;}
#gnb > ul > li:nth-child(8) {transition-delay: .8s;}
#gnb > ul > li > a {font-size: 18px;}
#gnb ul li a {display: block; height: 42px; line-height: 42px; color: #a3a6a7;}
#gnb ul li a:hover {font-weight: 700; color: #e84242;}
#gnb > ul > .menu_1 > a {background: url(../img/common/ico_gnb_1.png) no-repeat right 7px top 5px;}
#gnb > ul > .menu_2 > a {background: url(../img/common/ico_gnb_2.png) no-repeat right 5px;}
#gnb > ul > .menu_3 > a {background: url(../img/common/ico_gnb_3.png) no-repeat right 2px top;}
#gnb > ul > .menu_4 > a {background: url(../img/common/ico_gnb_4.png) no-repeat right -1px top;}
#gnb > ul > .menu_5 > a {background: url(../img/common/ico_gnb_5.png) no-repeat right 3px top 1px;}
#gnb > ul > .menu_6 > a {background: url(../img/common/ico_gnb_6.png) no-repeat right top;}
#gnb > ul > .menu_7 > a {background: url(../img/common/ico_gnb_7.png) no-repeat right top;}
#gnb > ul > .menu_8 > a {background: url(../img/common/ico_gnb_8.png) no-repeat right 2px top 5px;}
#gnb > ul > .menu_1 > a:hover {background-position-y: -39px;}
#gnb > ul > .menu_2 > a:hover {background-position-y: -40px;}
#gnb > ul > .menu_3 > a:hover {background-position-y: -54px;}
#gnb > ul > .menu_4 > a:hover {background-position-y: -57px;}
#gnb > ul > .menu_5 > a:hover {background-position-y: -47px;}
#gnb > ul > .menu_6 > a:hover {background-position-y: -52px;}
#gnb > ul > .menu_7 > a:hover {background-position-y: -57px;}
#gnb > ul > .menu_8 > a:hover {background-position-y: -40px;}
#gnb > ul > .menu_bottom {margin-top: 30px; border-top: 1px solid #c7cfd3; border-bottom: 1px solid #c7cfd3;}
#gnb > ul > .menu_bottom > ul {font-size: 0;}
#gnb > ul > .menu_bottom > ul > li { display: inline-block;position: relative; width: 50%;}
#gnb > ul > .menu_bottom > ul > li + li::before {content: ''; position: absolute; top: 50%; left: 0; width: 1px; height: 16px; margin-top: -8px; background-color: #c7cfd3;}
#gnb > ul > .menu_bottom > ul > li > a {font-size: 14px; text-align: center;}
#gnb .btn_gnb_close {position: absolute; top: 16px; right: 18px; width: 28px; height: 28px; background: url(../img/common/btn_gnb_close.png) no-repeat left center;}
#gnb .btn_gnb_close:hover {background-position-x: right;}

/* header 스크롤 발생 시 */
#header.down {background-color: #fff; box-shadow: 0 2px 10px rgb(0 0 0 / 30%);}
#header.down .header_top {display: none;}
#header.down .header_main .inner .logo a {width: 55px; height: 32px; background-image: url(../img/common/img_header_logo_c.png);}
#header.down .header_main .inner .btn_gnb {background-image: url(../img/common/btn_gnb_b.png);}

@media screen and (max-width: 1200px) { /* pc */
  #header .inner {width: 96%;}
}

@media screen and (max-width: 768px) { /* mobile */
  #header .header_main {border-color: #e7e7e7; background-color: #fff;}
  #header .header_main .inner {height: 66px;}
  #header .header_main .inner .logo {left: 50%; transform: translate(-50%, -50%);}
  #header .header_main .inner .logo a {width: 55px; height: 32px; background-image: url(../img/common/img_header_logo_c.png);}
  #header .header_main .inner .btn_gnb {background-image: url(../img/common/btn_gnb_b.png);}

  #header .header_top {border: none;}
  #header .header_top .inner {height: auto;}
  #header .header_top .inner .news {position: fixed; top: 67px; width: 100%; border-bottom: 1px solid #c7cfd3; transform: translate(0);}
  #header .header_top .inner .news.hide {display: none;}
  #header .header_top .inner .news h3 {margin: 10px 10px 0; padding: 0 6px 2px; border: 1px solid #fff; border-radius: 10px;}
  #header .header_top .inner .news h3 a {font-weight: 700; font-size: 12px; line-height: normal; pointer-events: none;}
  #header .header_top .inner .news h3 a:focus {outline: none;}
  #header .header_top .inner .news .txt_news_random {overflow: hidden; margin-right: 45px; font-size: 14px; line-height: 40px; text-overflow: ellipsis; white-space: nowrap;}
  #header .header_top .inner .news .txt_news_random::after {display: none;}
  #header .header_top .inner .news .btn_news_toggle {position: absolute; top: 0; right: 0; z-index: 1; width: 37px; height: 40px; border-left: 1px solid #c7cfd3; background: url(../img/common/btn_news_open.png) no-repeat center center; background-size: 17px 9px;}
  #header .header_top .inner .news .btn_news_toggle.on {border-color: #e7e7e7; background-image: url(../img/common/btn_news_close_b.png) !important;}
  #header .header_top .inner .news .btn_news_toggle.on + article {display: block;}
  #header .header_top .inner .news article {width: 100%; border-bottom: 1px solid #e7e7e7; box-shadow: 0 5px 10px rgb(0 0 0 / 30%);}
  #header .header_top .inner .news article h4 {height: 40px; padding: 0 10px; border-bottom: 1px solid #e7e7e7; background-color: transparent; font-weight: 700; font-size: 16px; line-height: 40px; color: #333;}
  #header .header_top .inner .news article .news_list {padding-bottom: 0;}
  #header .header_top .inner .news article .news_list li a {line-height: 36px; color: #444;}
  #header .header_top .inner .news article .news_list li a:hover {color: #000;}
  #header .header_top .inner .news article .news_list li a .txt_tit {font-size: 12px; color: #4385d1;}
  #header .header_top .inner .news article .btn_news_more {top: 11px; right: auto; left: 104px; width: 55px; padding: 0; border: none; border-radius: 0; font-size: 13px; color: #777; text-align: left;}
  #header .header_top .inner .util_list {top: 13px; right: auto; left: 10px; z-index: 1; transform: translate(0);}
  #header .header_top .inner .util_list > li {margin-right: 20px;}
  #header .header_top .inner .util_list > li + li:not(.lang)::before {display: none;}
  #header .header_top .inner .util_list > li > a {display: inline-block; font-size: 11px; line-height: 40px; color: #2d2d2d; letter-spacing: 0;}

  #gnb {overflow: auto; right: -100%; width: 100%;}
  #gnb.open {right: 0;}
  #gnb > ul {padding: 0 42px;}
  #gnb > ul > li {margin-bottom: 13px;}
  #gnb > ul > li > a {font-size: 16px;}

  /* header 스크롤 발생 시 */
  #header.down {height: 102px;}
  #header.down .header_top {display: block;}
  #header.down .header_top .inner .news {top: 61px; background-color: #fff;}
  #header.down .header_top .inner .news h3 {border-color: #333;}
  #header.down .header_top .inner .news h3 a, #header.down .header_top .inner .news .txt_news_random {color: #333;}
  #header.down .header_top .inner .news .btn_news_toggle {background-image: url(../img/common/btn_news_open_b.png);}
  #header.down .header_top .inner .news .btn_news_toggle.on, #header.down .header_top .inner .news article, #header.down .header_top .inner .news article h4 {border-color: #c7cfd3;}
  #header.down .header_main .inner {height: 60px;}
  #header.down .header_main {border-color: #c7cfd3;}
}

/* footer */
#footer {background-color: #f5f6fa; font-size: 13px; text-align: center;}
#footer .license {padding: 44px 0 48px; border-bottom: 2px solid #ebebed; color: #747474;}
#footer .info_list {padding-top: 30px;}
#footer .info_list li {display: inline-block; margin: 0 15px;}
#footer .info_list li a {color: #666;}
#footer .copyright {margin-top: 15px; padding-bottom: 30px; color: #666;}

@media screen and (max-width: 1200px) { /* pc */
  #footer .license {padding: 44px 20px 48px;}
}

@media screen and (max-width: 768px) { /* mobile */
  #footer .license {padding: 20px; font-size: 10px;}
}

@media screen and (max-width: 480px) { /* mobile */
  #footer .info_list li {margin-top: 5px;}
} 

/* partner */
#partner {padding: 10px 0;}
#partner .inner {overflow: hidden; max-width: 1000px; padding: 0 10px; text-align: center;}
/* #partner .inner ul {display: flex; justify-content: space-between; align-items: center;} */
#partner .inner ul li {display: inline-block; margin: 0 10px;}
#partner .inner ul li a {filter: grayscale(100%) opacity(.35);}
#partner .inner ul li a:hover, #partner .inner ul li a:focus {filter: none;}

@media screen and (max-width: 1024px) { /* pc */
  /* #partner ul에 slick 추가 */
  #partner .inner .slick-slider {padding: 0 30px;}
  #partner .inner .slick-slider li a {display: block; width: 125px; margin: auto;}
  #partner .inner .slick-slider li a img {width: 100%;}
  #partner .inner .slick-slider .slick-arrow {position: absolute; top: 50%; z-index: 1; width: 30px; height: 100%; transform: translateY(-50%);}
  #partner .inner .slick-slider .slick-prev {left: 0px;}
  #partner .inner .slick-slider .slick-next {right: 0px;}
  #partner .inner .slick-slider .slick-arrow img {width: 19px; height: 36px;}
}

@media screen and (max-width: 768px) { /* mobile */
  #partner .inner {padding: 0 20px;}
  #partner .inner .slick-slider {padding: 0 3.907vw;}
  #partner .inner .slick-slider li {margin: 0;}
  #partner .inner .slick-slider li a {width: 16.277vw;}
  #partner .inner .slick-slider .slick-arrow {width: 3.907vw;}
  #partner .inner .slick-slider .slick-arrow img {width: 2.474vw; height: 4.688vw;}
}

/**** main ****/
/* mainVisual */
#mainVisual {position: relative; height: 725px; background: #000 url(../img/main/bg_visual.jpg) no-repeat center center;}
#mainVisual ul li {overflow: hidden; position: absolute; bottom: 0; width: 20%; height: 156px; border-top: 1px solid rgba(255,255,255,0.28); border-left: 1px solid rgba(255,255,255,0.28); box-sizing: border-box; transition: height .4s;}
#mainVisual ul li:hover, #mainVisual ul li.focus {height: 607px; border-right: 1px solid rgba(255,255,255,0.28);}
#mainVisual ul .menu_1 {left: 0; border-left: none;}
#mainVisual ul .menu_2 {left: 20%}
#mainVisual ul .menu_3 {left: 40%}
#mainVisual ul .menu_4 {left: 60%}
#mainVisual ul .menu_5 {left: 80%}
#mainVisual ul li a {display: block; height: 100%; padding-top: 30px; background-color: rgba(0, 0, 0, .65); color: #fff; text-align: center; transition: all .4s;}
#mainVisual ul li:hover a, #mainVisual ul li.focus a {padding-top: 225px;}
#mainVisual ul li a::before {content: ''; display: block; position: absolute; right: 0; bottom: 0; left: 0; height: 0; background-color: rgba(195, 42, 42, .75); transition: height .5s;}
#mainVisual ul li:hover a::before, #mainVisual ul li.focus a::before {height: 100%;}
#mainVisual ul li a > * {position: relative;}
#mainVisual ul li a .icon {width: 70px; margin-bottom: 15px;}
#mainVisual ul li a h3 {margin-bottom: 16px; font-weight: 500; font-size: 17px;}
#mainVisual ul li a h3 + span {font-size: 14px; letter-spacing: -0.02em;}
#mainVisual ul li a .more {margin-top: 24px;}

@media screen and (max-width: 768px) { /* mobile */
  #mainVisual {height: 500px; background-image: url(../img/main/bg_visual_mo.jpg); background-size: cover;}
  #mainVisual ul li {position: static; width: 100%; height: auto; border: none; transition: none;}
  #mainVisual ul li:hover {height: auto; border: none;}
  #mainVisual ul li a {height: calc(500px - 108px); margin-top: 108px; padding-top: 61px; background: none; box-sizing: border-box; transition: none;}
  #mainVisual ul li:hover a {padding-top: 61px;}
  #mainVisual ul li a::before {display: none;}
  #mainVisual ul li a > * {position: static;}
  #mainVisual ul li a .icon {width: 110px; margin: 0 auto 15px;}
  #mainVisual ul li a h3 {font-size: 24px; line-height: 24px;}
  #mainVisual ul li a .more {margin-top: 15px;}
  #mainVisual ul li a .more span {width: 125px; margin: 0 auto; border: 1px solid #fff; font-size: 14px; line-height: 30px;}

  /* #mainVsiual ul에 slick 추가 */
  #mainVisual .slick-slider .slick-dots {position: absolute; bottom: 0; left: 0; width: 100%; padding: 5px 0 25px; text-align: center;}
  #mainVisual .slick-slider .slick-dots li {display: inline-block; width: 13px; height: 13px; margin-left: 15px; border-radius: 50%; background-color: rgba(255, 255, 255, .7); vertical-align: middle;}
  #mainVisual .slick-slider .slick-dots .slick-active {border: 1px solid rgba(255, 255, 255, .7); background-color: transparent;}
  #mainVisual .slick-slider .slick-dots li button {overflow: hidden; text-indent: -9999px;}

  /* header 스크롤 시 #mainVisual 스크롤탑 변경 */
  #header.down ~ #container #mainVisual ul li a {height: calc(500px - 102px); margin-top: 102px;}
}

/* main common */
.main_content h2 {margin-bottom: 71px; font-size: 28px; color: #222; text-align: center;} 
.main_content h2::after {content: ''; display: block; width: 58px; height: 3px; margin: 13px auto 0; background-color: #c7cfd3;}

@media all and (max-width: 768px) { /* mobile */
  .main_content h2 {margin-bottom: 42px; font-size: 21px;} 
  .main_content h2::after {display: none;}
}

/* main curation */
#curation {padding: 91px 0 135px;} 
/* 3행, 간격: 32px */
#curation .inner {position: relative; max-width: 1144px;}
#curation .inner ul li {position: absolute; top: 0; left: 0; width: 358px; margin-bottom: 33px; background-color: #f5f6fa; transition: top .4s, left .4s;} 
#curation .inner ul li a { display: block;overflow: hidden;}
#curation .inner ul li a .img_box {position: relative; height: 265px;}
#curation .inner ul li a .img_box img {width: 100%; height: 100%;}
#curation .inner ul li a .img_box .detail {display: none; position: absolute; top: 0; right: 0; bottom: 0; left: 0; background-color: rgba(0, 0, 0, .65);}
#curation .inner ul li a:hover .img_box .detail, #curation .inner ul li a:focus .img_box .detail {display: block;}
#curation .inner ul li a .img_box .detail .txt_center {font-weight: 400; color: #fff;}
#curation .inner ul li a .txt_box {height: 95px; padding: 20px; background-color: #f5f6fa; font-weight: 500; letter-spacing: -0.05em; box-sizing: border-box;}
#curation .inner ul li a .txt_box .tit {display: block; overflow: hidden; margin-bottom: 10px; font-size: 16px; color: #000; text-overflow: ellipsis; white-space: nowrap;}
#curation .inner ul li a .txt_box .category {font-size: 13px; color: #e84242;}

@media screen and (min-width: 1600px) { /* pc */
  /* 4행, 간격: 32px */
  #curation .inner {max-width: calc(358px * 4 + 32px * 3);}
}

@media screen and (max-width: 1200px) { /* pc */
  /* 2행, 간격: 32px */
  #curation .inner {width: calc(358px * 2 + 32px * 1);}
  #curation .inner ul li {margin-bottom: 30px;}
}

@media all and (max-width: 768px) { /* mobile */
  #curation {padding: 36px 0 59px;} 
  /* 2행, 간격: 10px */
  #curation .inner {width: calc(38.412vw * 2 + 10px * 1);}
  #curation .inner ul li {width: 38.412vw; /* 295px */}
  #curation .inner ul li a .img_box {height: 28.385vw; /* 218px */}
  #curation .inner ul li a .txt_box {height: 70px; padding: 10px;}
  #curation .inner ul li a .txt_box .tit {margin-bottom: 5px; font-size: 0.867em; /* 13px */}
  #curation .inner ul li a .txt_box .category {font-size: 0.667em; /* 10px */}
}

@media all and (max-width: 480px) { /* mobile */
  #curation .inner ul li a .txt_box {height: auto;}
}

/* main story */
#story {padding: 97px 0 70px; background-color: #f6f7f8;}
/* 4행, 간격: 35px */
#story .inner {overflow: hidden; max-width: 1144px;}
#story .inner ul li {float: left; width: 259px; margin: 0 0 30px 35px; background-color: #fff}
#story .inner ul li:nth-child(4n + 1) {margin-left: 0;}
#story .inner ul li a { display: block;overflow: hidden;}
#story .inner ul li a img {width: 100%;}
#story .inner ul li a .txt_box {height: 108px; background-color: #fff;}
#story .inner ul li a .txt_box [class ^= 'category_'] {display: inline-block; width: 100px; font-size: 13px; line-height: 28px; color: #fff; letter-spacing: -0.02em; text-align: center;}
#story .inner ul li a .txt_box .category_blue {background-color: #144c99;}
#story .inner ul li a .txt_box .category_orange {background-color: #f79a21;}
#story .inner ul li a .txt_box .tit {display: block; display: -webkit-box; overflow: hidden; height: 2.4em; padding: 12px 18px 0; line-height: 1.2em; color: #262727; letter-spacing: -0.02em; text-overflow: ellipsis; word-wrap: break-word; -webkit-line-clamp: 2; /* 라인수 */ -webkit-box-orient: vertical;}

@media screen and (max-width: 1200px) { /* pc */
  /* 3행, 간격: 35px */
  #story .inner {width: calc(259px * 3 + 35px * 2);}
  #story .inner ul li:nth-child(n) {margin-left: 35px;}
  #story .inner ul li:nth-child(3n + 1) {margin-left: 0;}
}

@media screen and (max-width: 1024px) { /* pc */
  /* 2행, 간격: 35px */
  #story .inner {width: calc(259px * 2 + 35px);}
  #story .inner ul li:nth-child(n) {margin-left: 35px;}
  #story .inner ul li:nth-child(2n + 1) {margin-left: 0;}
}

@media screen and (max-width: 768px) { /* mobile */
  #story {padding: 36px 0 50px;}
  #story .inner {width: auto;}
  #story .inner ul li:nth-child(n) {margin: 0 15px;}
  #story .inner ul li a .txt_box [class ^= 'category_'] {width: 86px; font-size: 12px; line-height: 25px; color: #fff;}
  #story .inner ul li a .txt_box .tit {padding: 16px 18px 0; font-size: 13px;}

  /* #story ul에 slick 추가 */
  #story .inner .slick-slider li {opacity: .4; transition: opacity .4s;}
  #story .inner .slick-slider .slick-center {opacity: 1;}
}

/* main find */
#find {position: relative;}
#find::before, #find::after {content: ''; position: absolute; top: 0; z-index: -1; width: 50%; height: 100%; background-size: cover;}
#find::before {left: 0; background: #525c66 url(../img/main/bg_find_ybm.jpg) no-repeat right center;}
#find::after {right: 0; background: #8e9397 url(../img/main/bg_find_cbt.jpg) no-repeat left center;}
#find .inner {overflow: hidden; max-width: 1144px;}
#find .inner a {display: block; width: 50%; height: 314px; padding-top: 90px; text-align: center; box-sizing: border-box;}
#find .inner .left_area {float: left;}
#find .inner .right_area {float: right;}
#find .inner a span {display: block; padding-top: 22px; font-weight: 300; font-size: 30px; color: #fff; letter-spacing: -1px;}
#find .inner a span::after {content: '\f054'; display: inline-block; position: relative; top: -3px; margin-left: 12px; font-size: 20px; font-family: FontAwesome;}

@media screen and (max-width: 1200px) { /* pc */
  #find::after {background-position: center center;}
}

@media screen and (max-width: 768px) { /* mobile */
  #find::before, #find::after {background-size: cover;}
  #find .inner a {height: 180px; padding-top: 40px;}
  #find .inner a .icon {width: 50px;}
  #find .inner a span {padding-top: 17px; font-size: 17px;}
  #find .inner a span::after {top: -1px; margin-left: 5px; font-size: 15px;}
}

@media screen and (max-width: 600px) { /* mobile */
  #find::before, #find::after {width: 100%; height: 50%;}
  #find::after {top: auto; bottom: 0;}
  #find .inner a {float: none !important; width: 100%; height: 130px; padding-top: 30px;}
  #find .inner a span {padding-top: 9px; font-size: 15px;}
  #find .inner a span::after {top: -2px; font-size: 10px;}
}

/* main quickNav */
#quickNav {position: fixed; top: 20%; right: 0; z-index: 25; box-shadow: -2px 5px 4px rgb(0 0 0 / 20%);}
#quickNav .tit {display: block; width: 60px; height: 60px; padding-top: 10px; background-color: #e8473f; color: #fff; text-align: center; box-sizing: border-box;}
#quickNav ul {overflow: hidden; position: relative; width: 60px; transition: all .3s;}
#quickNav ul:hover, #quickNav ul:focus-within, #quickNav ul.focus {width: 130px; margin-left: -70px;}
#quickNav ul li {width: 60px;}
#quickNav ul li a {display: block; width: 70px; height: 47px; background-color: #b9b9b9; font-weight: 700; font-size: 13px; line-height: 47px; color: #fff; text-align: center; transition: background-color .3s;}
#quickNav ul:hover li a, #quickNav ul:hover li a::after, #quickNav ul:focus-within li a, #quickNav ul:focus-within li a::after, #quickNav ul.focus li a, #quickNav ul.focus li a::after {background-color: #6e6e6e;}
#quickNav ul li a:hover, #quickNav ul li a:hover::after, #quickNav ul li a:focus, #quickNav ul li a:focus::after, #quickNav ul li a.focus, #quickNav ul li a.focus::after {background-color: #7c7c7c;}
#quickNav ul li a::after {content: ''; display: block; position: absolute; right: 0; width: 60px; height: 47px; background: #b9b9b9 no-repeat center; transition: background-color .3s;}
#quickNav ul li:nth-child(1) a::after {top: 0; background-image: url(../img/main/ico_quick_1.png);}
#quickNav ul li:nth-child(2) a::after {top: 20%; background-image: url(../img/main/ico_quick_2.png);}
#quickNav ul li:nth-child(3) a::after {top: 40%; background-image: url(../img/main/ico_quick_3.png);}
#quickNav ul li:nth-child(4) a::after {top: 60%; background-image: url(../img/main/ico_quick_4.png);}
#quickNav ul li:nth-child(5) a::after {top: 80%; background-image: url(../img/main/ico_quick_5.png);}
#quickNav .btn_page_top {display: block; width: 60px; height: 60px; background-color: #71757c;}
#quickNav .btn_page_top img:nth-child(2) {display: none;}

@media screen and (max-width: 1200px) { /* pc */
  #quickNav {position: fixed; top: auto; right: 20px; bottom: 50px; box-shadow: none;}
  #quickNav .tit, #quickNav ul {display: none;}
  #quickNav .btn_page_top {width: 52px; height: 52px; border-radius: 50%; background-color: transparent;}
  #quickNav .btn_page_top img:nth-child(1) {display: none;}
  #quickNav .btn_page_top img:nth-child(2) {display: block;}
}

@media screen and (max-width: 768px) { /* mobile */
  #quickNav .btn_page_top {width: 40px; height: 40px;}
}